In [2]:
import os 
import sys 
import pandas as pd 
import numpy as np
from collections import Counter
from xgboost import XGBClassifier
from sklearn.model_selection import GridSearchCV
from sklearn import datasets
from sklearn import tree
from six import StringIO
from IPython.display import Image 
import pydot
import pydotplus
sys.path.append('/Users/yantingting/PycharmProjects/modeling/')
import summary_statistics as ss
import metrics as mt 
import feature_selection as fs 
from feature_selection import *
import misc_utils as mu
from data_io_utils import *
import data_encryption as de
import plot_tools as pt 
import data_processing as dp 
import database_conncet as dc 
# 必须要在该界面设置中文的参数
import matplotlib.pyplot as plt
from matplotlib import rcParams
plt.rcParams['font.sans-serif'] = ['STFangsong']

fs_obj = fs.FeatureSelection()
pf = mt.Performance()
bw = mt.BinWoe()

In [3]:
file_path = '/Users/yantingting/Seafile/风控/模型/10 印尼/202004 老客决策树/01 Data'
# file_path_result ='/Users/yantingting/Seafile/风控/模型/10 印尼/202004 老客决策树/02 Result'

In [7]:
all_var.columns.tolist()

['loan_id',
 'effective_date',
 'due_date',
 'approved_period',
 'late_day',
 'dpd1',
 'age',
 'monthly_salary',
 'device_approval_ANDROID',
 'device_approval_IOS',
 'device_approval_API',
 'product_id_1',
 'product_id_2',
 'gender_female',
 'gender_male',
 'province_JAWA BARAT',
 'province_DKI JAKARTA',
 'province_JAWA TIMUR',
 'province_JAWA TENGAH',
 'province_BANTEN',
 'province_SUMATERA UTARA',
 'province_SULAWESI SELATAN',
 'province_SUMATERA SELATAN',
 'province_BALI',
 'province_KALIMANTAN TIMUR',
 'province_DAERAH ISTIMEWA YOGYAKARTA',
 'province_LAMPUNG',
 'province_SULAWESI UTARA',
 'province_RIAU',
 'province_SUMATERA BARAT',
 'province_KEPULAUAN RIAU',
 'province_KALIMANTAN BARAT',
 'province_KALIMANTAN SELATAN',
 'province_JAMBI',
 'province_NANGGROE ACEH DARUSSALAM',
 'province_KALIMANTAN TENGAH',
 'province_NUSA TENGGARA BARAT',
 'province_SULAWESI TENGAH',
 'province_BENGKULU',
 'province_NUSA TENGGARA TIMUR',
 'province_KEPULAUAN BANGKA BELITUNG',
 'province_SULAWESI TENGGARA',
 'province_GORONTALO',
 'province_PAPUA',
 'province_KALIMANTAN UTARA',
 'province_MALUKU',
 'province_PAPUA BARAT',
 'province_MALUKU UTARA',
 'province_SULAWESI BARAT',
 'province_ACEH',
 'industry_involved_TRADING_INDUSTRY',
 'industry_involved_OTHER',
 'industry_involved_PABRIK',
 'industry_involved_RETAIL',
 'industry_involved_FINANCIAL',
 'industry_involved_TRANSPORTASI_LOGISTIK',
 'industry_involved_ROOM_BOARD',
 'industry_involved_MEDICAL',
 'industry_involved_EDUCATION',
 'industry_involved_ARCHITECTURE',
 'industry_involved_GOVERNMENT',
 'industry_involved_INTERNET',
 'industry_involved_E-COMMERCE',
 'industry_involved_PKA',
 'industry_involved_REAL_ESTAT',
 'industry_involved_EXPERTS_TECHNOLOGY',
 'industry_involved_',
 'industry_involved_COMMERCE',
 'marital_status_MARRIED',
 'marital_status_SPINSTERHOOD',
 'marital_status_DIVORCED',
 'marital_status_BEREFT',
 'marital_status_',
 'education_SENIOR_HIGH_SCHOOL',
 'education_REGULAR_COLLEGE_COURSE',
 'education_ASSOCIATE_BACHELOR_3',
 'education_ASSOCIATE_BACHELOR_1',
 'education_JUNIOR_HIGH_SCHOOL',
 'education_MASTER',
 'education_ASSOCIATE_BACHELOR_2',
 'education_PRIMARY_SCHOOL',
 'education_',
 'education_DOCTOR',
 'cnt_loan30',
 'cnt_loan60',
 'cnt_loan90',
 'cnt_loan180',
 'cnt_loan360',
 'cnt_loan',
 'firstapply_curds',
 'lastapply_curds',
 'firstloan_curds',
 'last_loan_curds',
 'max_loan_period',
 'max_loan_period30d',
 'max_loan_period60d',
 'max_loan_period90d',
 'max_loan_period180d',
 'max_loan_period360d',
 'min_loan_period',
 'min_loan_period30d',
 'min_loan_period60d',
 'min_loan_period90d',
 'min_loan_period180d',
 'min_loan_period360d',
 'avg_loan_period',
 'avg_loan_period30d',
 'avg_loan_period60d',
 'avg_loan_period90d',
 'avg_loan_period180d',
 'avg_loan_period360d',
 'cnt_loan_period_is15',
 'cnt_loan_period_is15_30d',
 'cnt_loan_period_is15_60d',
 'cnt_loan_period_is15_90d',
 'cnt_loan_period_is15_180d',
 'cnt_loan_period_is15_360d',
 'cnt_loan_period_is8',
 'cnt_loan_period_is8_30d',
 'cnt_loan_period_is8_60d',
 'cnt_loan_period_is8_90d',
 'cnt_loan_period_is8_180d',
 'cnt_loan_period_is8_360d',
 'rate_loan_period_is15',
 'rate_loan_period_is15_30d',
 'rate_loan_period_is15_60d',
 'rate_loan_period_is15_90d',
 'rate_loan_period_is15_180d',
 'rate_loan_period_is15_360d',
 'rate_loan_period_is8',
 'rate_loan_period_is8_30d',
 'rate_loan_period_is8_60d',
 'rate_loan_period_is8_90d',
 'rate_loan_period_is8_180d',
 'rate_loan_period_is8_360d',
 'cnt_extend_times',
 'cnt_extend_times_30d',
 'cnt_extend_times_60d',
 'cnt_extend_times_90d',
 'cnt_extend_times_180d',
 'cnt_extend_times_360d',
 'max_extend_times',
 'max_extend_times_30d',
 'max_extend_times_60d',
 'max_extend_times_90d',
 'max_extend_times_180d',
 'max_extend_times_360d',
 'sum_extend_times',
 'sum_extend_times_30d',
 'sum_extend_times_60d',
 'sum_extend_times_90d',
 'sum_extend_times_180d',
 'sum_extend_times_360d',
 'avg_extend_times',
 'avg_extend_times_30d',
 'avg_extend_times_60d',
 'avg_extend_times_90d',
 'avg_extend_times_180d',
 'avg_extend_times_360d',
 'cnt_advance_paidoff',
 'cnt_advance_paidoff30d',
 'cnt_advance_paidoff60d',
 'cnt_advance_paidoff90d',
 'cnt_advance_paidoff180d',
 'cnt_advance_paidoff360d',
 'cnt_collection_paidoff',
 'cnt_collection_paidoff30d',
 'cnt_collection_paidoff60d',
 'cnt_collection_paidoff90d',
 'cnt_collection_paidoff180d',
 'cnt_collection_paidoff360d',
 'cnt_paidoff',
 'cnt_paidoff30d',
 'cnt_paidoff60d',
 'cnt_paidoff90d',
 'cnt_paidoff180d',
 'cnt_paidoff360d',
 'max_his_latedays',
 'max_his_latedays_30d',
 'max_his_latedays_60d',
 'max_his_latedays_90d',
 'max_his_latedays_180d',
 'max_his_latedays_360d',
 'min_his_latedays',
 'min_his_latedays_30d',
 'min_his_latedays_60d',
 'min_his_latedays_90d',
 'min_his_latedays_180d',
 'min_his_latedays_360d',
 'sum_his_latedays',
 'sum_his_latedays_30d',
 'sum_his_latedays_60d',
 'sum_his_latedays_90d',
 'sum_his_latedays_180d',
 'sum_his_latedays_360d',
 'avg_his_latedays',
 'avg_his_latedays_30d',
 'avg_his_latedays_60d',
 'avg_his_latedays_90d',
 'avg_his_latedays_180d',
 'avg_his_latedays_360d',
 'cnt_paidoffhour_0to5',
 'cnt_paidoffhour_6to12',
 'cnt_paidoffhour_13to18',
 'cnt_paidoffhour_19to24',
 'rate_paidoffhour_0to5',
 'rate_paidoffhour_6to12',
 'rate_paidoffhour_13to18',
 'rate_paidoffhour_19to24',
 'cnt_paidoffhour_0to5_30d',
 'cnt_paidoffhour_6to12_30d',
 'cnt_paidoffhour_13to18_30d',
 'cnt_paidoffhour_19to23_30d',
 'cnt_paidoffhour_0to5_60d',
 'cnt_paidoffhour_6to12_60d',
 'cnt_paidoffhour_13to18_60d',
 'cnt_paidoffhour_19to23_60d',
 'cnt_paidoffhour_0to5_90d',
 'cnt_paidoffhour_6to12_90d',
 'cnt_paidoffhour_13to18_90d',
 'cnt_paidoffhour_19to23_90d',
 'cnt_paidoffhour_0to5_180d',
 'cnt_paidoffhour_6to12_180d',
 'cnt_paidoffhour_13to18_180d',
 'cnt_paidoffhour_19to23_180d',
 'cnt_paidoffhour_0to5_360d',
 'cnt_paidoffhour_6to12_360d',
 'cnt_paidoffhour_13to18_360d',
 'cnt_paidoffhour_19to23_360d',
 'rate_paidoffhour_0to5_30d',
 'rate_paidoffhour_6to12_30d',
 'rate_paidoffhour_13to18_30d',
 'rate_paidoffhour_19to23_30d',
 'rate_paidoffhour_0to5_60d',
 'rate_paidoffhour_6to12_60d',
 'rate_paidoffhour_13to18_60d',
 'rate_paidoffhour_19to23_60d',
 'rate_paidoffhour_0to5_90d',
 'rate_paidoffhour_6to12_90d',
 'rate_paidoffhour_13to18_90d',
 'rate_paidoffhour_19to23_90d',
 'rate_paidoffhour_0to5_180d',
 'rate_paidoffhour_6to12_180d',
 'rate_paidoffhour_13to18_180d',
 'rate_paidoffhour_19to23_180d',
 'rate_paidoffhour_0to5_360d',
 'rate_paidoffhour_6to12_360d',
 'rate_paidoffhour_13to18_360d',
 'rate_paidoffhour_19to23_360d',
 'A_3d',
 'A_7d',
 'A_14d',
 'A_21d',
 'A_30d',
 'A_60d',
 'A_90d',
 'A_180d',
 'A_360d',
 'B_3d',
 'B_7d',
 'B_14d',
 'B_21d',
 'B_30d',
 'B_60d',
 'B_90d',
 'B_180d',
 'B_360d',
 'C_3d',
 'C_7d',
 'C_14d',
 'C_21d',
 'C_30d',
 'C_60d',
 'C_90d',
 'C_180d',
 'C_360d',
 'pre_tag']

In [8]:
all_var = load_data_from_pickle(file_path,'all_var.pkl')
# all_var['pre_tag'] = all_var.apply(lambda x: 1 if (x['education_REGULAR_COLLEGE_COURSE'] <0.5) & (x['B_7d']>2) else 0, axis = 1)
all_var['pre_tag'] = all_var.apply(lambda x: 1 if (x['industry_involved_TRADING_INDUSTRY'] >0) | (x['industry_involved_TRANSPORTASI_LOGISTIK']>0) else 0, axis = 1)

all_var.shape
all_var.head()

v2_score = load_data_from_pickle(file_path,'v2_score.pkl')
v2_score.head()

(41107, 277)

,loan_id,effective_date,due_date,approved_period,late_day,dpd1,age,monthly_salary,device_approval_ANDROID,device_approval_IOS,...,C_3d,C_7d,C_14d,C_21d,C_30d,C_60d,C_90d,C_180d,C_360d,pre_tag
0,443078651486502912,2020-03-07,2020-04-04,29,3.0,1,51,8500000.0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,443080428537413632,2020-03-07,2020-03-28,22,-1.0,0,24,0.0,1,0,...,0.0,0.0,0.0,0.0,0.0,5.0,5.0,5.0,5.0,1
2,443085055811223552,2020-03-07,2020-04-04,29,-1.0,0,24,4000000.0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,443086227296919552,2020-03-07,2020-03-21,15,17.0,1,32,5000000.0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,443092329594003456,2020-03-07,2020-03-28,22,10.0,1,30,2000000.0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

              loan_id oldusermodelv2
0  437618487241121792           None
1  437654581873836032           None
2  437872384908296192           None
3  438009474178260992           None
4  438369463774380032           None

In [9]:
df_a = all_var[['loan_id','effective_date', 'due_date',	'approved_period','dpd1' ,'industry_involved_TRADING_INDUSTRY','industry_involved_TRANSPORTASI_LOGISTIK','pre_tag']].merge(v2_score,on='loan_id',how = 'left')
v2_bin = [ -np.inf, 628.0,
 638.0,
 644.0,
 650.0,
 654.0,
 659.0,
 664.0,
 670.0,
 678.0,np.inf]
df_a['oldusermodelv2'] = df_a['oldusermodelv2'].astype(float)
df_a['score_group'] = pd.cut(df_a['oldusermodelv2'],bins = v2_bin,duplicates='drop')
df_a.to_excel(os.path.join(file_path,'temp.xlsx'))
df_a.head()
df_a.shape

,loan_id,effective_date,due_date,approved_period,dpd1,industry_involved_TRADING_INDUSTRY,industry_involved_TRANSPORTASI_LOGISTIK,pre_tag,oldusermodelv2,score_group
0,443078651486502912,2020-03-07,2020-04-04,29,1,0,0,0,632.0,"(628.0, 638.0]"
1,443080428537413632,2020-03-07,2020-03-28,22,0,1,0,1,647.0,"(644.0, 650.0]"
2,443085055811223552,2020-03-07,2020-04-04,29,0,0,0,0,662.0,"(659.0, 664.0]"
3,443086227296919552,2020-03-07,2020-03-21,15,1,0,0,0,NaN,NaN
4,443092329594003456,2020-03-07,2020-03-28,22,1,1,0,1,645.0,"(644.0, 650.0]"

(41107, 10)