summary:
目的：对印尼存量用户打标签，方便对用户精细化运营和管理；
样本：注册时间在2020-02-18（含）之前的所有用户，共计3254826人。

In [3]:
import os
import sys
import time
import pandas as pd 
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import numpy as np
import re
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
sys.path.append('/Users/yantingting/PycharmProjects/modeling/')
import database_conncet as data_con
import data_processing as dp
import summary_statistics as ss
from data_io_utils import *
from matplotlib.pyplot import MultipleLocator
from jinja2 import Template

In [4]:
file_path = '/Users/yantingting/Documents/用户画像(印尼)/用户分层/数据处理/'
if not os.path.exists(file_path):
    os.makedirs(file_path)
    
result_path = '/Users/yantingting/Seafile/风控/模型/10 印尼/用户画像/用户回访'

# 分层数据上传

In [23]:
df_all = load_data_from_pickle(file_path,'所有标签数据.pkl')
df_all.shape
df_all.head()

(3254826, 6)

          customer_id   type tag_flag freq risk monetary
0  141225204082151424  注册未申请  未验证身份信息  不活跃    0        0
1  141230974207135744  注册未申请  未验证身份信息  不活跃    0        0
2  141233437656088576  注册未申请  未验证身份信息  不活跃    0        0
3  141238704447815680  注册未申请  未验证身份信息  不活跃    0        0
4  141239155218063360  注册未申请   验证身份信息  不活跃    0        0

In [24]:
dict1 = {'注册未申请':1,
        '申请未放款':2,
         '新客户':3,
        '老客户':4}
dict2 = {'未验证身份信息': 1,
'验证身份信息':      2,
'申请被拒绝':       3,
'逾期未还':        4,
'其他'       :    5,
'申请取消'    :     6,
'订单进行中'  :     7,
'逾期结清'    :    8,
'提前结清'   :   9,
'正常结清'    :  10,
'申请其他'  : 11}
df_all['type'] = df_all['type'].apply(lambda x: dict1.get(x))
df_all['tag_flag'] = df_all['tag_flag'].apply(lambda x: dict2.get(x))
print(1)

1

In [49]:
import sklearn
from sklearn.model_selection import train_test_split
df_temp = df_all[(df_all['type']==1)&(df_all['tag_flag']==1)&(df_all['freq']=='不活跃')]
#dat为数据集,含有feature和label.
df_temp1, df_temp2 = train_test_split(df_temp, test_size = 0.5, random_state=1)
df_temp1.shape
df_temp2.shape

(624967, 6)

(624968, 6)

In [52]:
df_temp = df_temp2
table_sql = '''
    CREATE TABLE ytt_yhfc_1111(
        customer_id bigint,
        type text,
        tag_flag text,
        freq text,
        risk text,
        monetary text
    )
    '''
Filename = df_temp
SQL_CREATE_TABLE = table_sql
data_con.upload_df_to_pg(SQL_CREATE_TABLE)
insert = """
INSERT INTO ytt_yhfc_1111
   VALUES
 {% for var in var_list %}
{{ var }},
{% endfor %}
"""
var_list = []
for cols, rows in Filename.iterrows():    
    c = tuple(rows)
    var_list.append(c)
insert_sql = Template(insert).render(var_list=var_list)[:-2]
insert_sql = insert_sql.replace('\n','')
print(1)
data_con.upload_df_to_pg(insert_sql)

'success'

1

'success'

# 回访用户提取

老客户

In [4]:
query0 = '''
select t1.*,t3.create_time as reg_time,t3.cell_phone,
t2.*
from ((select *
from ytt_yhfc_4 
where risk ='低风险' and monetary = '高收益'
order by customer_id desc
limit 3000)
union all
(select *
from ytt_yhfc_4 
where risk ='低风险' and monetary = '低收益'
order by customer_id desc
limit 3000)
union all
(select *
from ytt_yhfc_4 
where risk ='高风险' and monetary = '高收益'
order by customer_id desc
limit 3000)
union all
(select *
from ytt_yhfc_4 
where risk ='高风险' and monetary = '低收益'
order by customer_id desc
limit 3000)) t1 
left join 
(select *
from (
select customer_id,apply_time,
"grouping",request_principal,request_period,
row_number()over(partition by customer_id order by effective_date desc )  as loan_rank
from rt_t_gocash_core_loan 
where effective_date !='1970-01-01') t 
where loan_rank =1) t2 
on t1.customer_id = t2.customer_id
left join rt_t_gocash_core_customer t3 
on t1.customer_id = t3.id
order by t3.create_time desc 
'''

In [5]:
df_old = data_con.database_gn(query0)
save_data_to_pickle(df_old,file_path,'老客户.pkl')
df_old.shape

Successful connection

(12000, 14)

新客户

In [9]:
query1 = '''
select t1.*,t3.create_time as reg_time,t3.cell_phone,
t2.*
from ((select customer_id,'新客户' as type ,
'逾期未还' as tag_flag
from ytt_yhfc_3 
where tag_flag = '4'
limit 3000)
union all
(select customer_id,'新客户' as type ,
'订单进行中' as tag_flag
from ytt_yhfc_3 
where tag_flag = '7'
limit 3000)
union all
(select customer_id,'新客户' as type ,
'逾期结清' as tag_flag
from ytt_yhfc_3 
where tag_flag = '8'
limit 3000)
union all
(select customer_id,'新客户' as type ,
'提前结清' as tag_flag
from ytt_yhfc_3 
where tag_flag = '9' and freq = '不活跃'
limit 3000)
union all
(select customer_id,'新客户' as type ,
'正常结清' as tag_flag
from ytt_yhfc_3 
where tag_flag = '10'and freq = '不活跃'
limit 3000)) t1 
left join 
(select *
from (
select customer_id,apply_time,
"grouping",request_principal,request_period,
row_number()over(partition by customer_id order by effective_date desc )  as loan_rank
from rt_t_gocash_core_loan 
where effective_date !='1970-01-01') t 
where loan_rank =1) t2 
on t1.customer_id = t2.customer_id
left join rt_t_gocash_core_customer t3 
on t1.customer_id = t3.id
order by t3.create_time desc ;
'''

In [10]:
df_new = data_con.database_gn(query1)
save_data_to_pickle(df_new,file_path,'新客户.pkl')
df_new.shape

Successful connection

(12926, 11)

In [ ]:
query_temp = '''
select t1.*,
t2.cell_phone,t2.create_time as reg_time
from
(select customer_id,apply_time,effective_date,loan_status,paid_off_time,"grouping",
case when date(paid_off_time) != '1970-01-01' then  current_date - date(paid_off_time) else null end as last_paid_now
from rt_t_gocash_core_loan
where customer_id in 
(select customer_id
from rt_t_gocash_core_loan
where effective_date !='1970-01-01'
group by customer_id
having count(1) = 1) 
and effective_date !='1970-01-01') t1 
left join rt_t_gocash_core_customer t2 
on t1.customer_id = t2.id
order by t2.create_time desc 
'''

申请未放款

In [8]:
query2 = '''
select t1.*,t3.create_time as reg_time,t3.cell_phone,
t2.*
from (select customer_id,'申请未放款' as type,
'申请取消' as tag_flag
from ytt_yhfc_2
where tag_flag = '6'
order by customer_id desc
limit 3000) t1 
left join 
(select *
from (
select customer_id,apply_time,
"grouping",request_principal,request_period,loan_status,
row_number()over(partition by customer_id order by apply_time desc )  as loan_rank
from rt_t_gocash_core_loan ) t 
where loan_rank =1) t2 
on t1.customer_id = t2.customer_id
left join rt_t_gocash_core_customer t3 
on t1.customer_id = t3.id
order by t3.create_time desc
'''

In [9]:
df_apply = data_con.database_gn(query2)
save_data_to_pickle(df_apply,result_path,'申请取消.pkl')
df_apply.shape

Successful connection

(3000, 12)

注册未申请

In [6]:
query3 = '''
select t1.id as customer_id,t1.cell_phone,
t1.create_time,
t1.update_time,
t1.idcard_pass_flag,
'注册未申请' as type
from dw_gocash_go_cash_loan_gocash_core_customer t1 
left join 
(select distinct customer_id from dw_gocash_go_cash_loan_gocash_core_loan where date(apply_time)<='2020-02-18') t2 
on t1.id = t2.customer_id
where t2.customer_id is null and date(t1.create_time)<='2020-02-18'
order by t1.create_time desc 
limit 3000

'''

In [7]:
df_reg = data_con.database_gn(query3)
save_data_to_pickle(df_reg,result_path,'注册未申请.pkl')
df_reg.shape

Successful connection

(3000, 6)