In [1]:
import os
import sys
import pandas as pd 
import time
import datetime
import pandas as pd 
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import numpy as np
import re
import seaborn as sns
from scipy import stats
import matplotlib.pyplot as plt
from collections import Counter
sys.path.append('/Users/yantingting/PycharmProjects/modeling/')
import database_conncet as data_con
import data_processing as dp
import summary_statistics as ss
from data_io_utils import *
from sqlalchemy import create_engine

In [2]:
file_path = '/Users/yantingting/Seafile/风控/模型/15 印度/V4模型/Data'
if not os.path.exists(file_path):
    os.makedirs(file_path)

1）一级
SCORE，Header，TotalCAPS_Summary，CreditProfileHeader,UserMessage,Match_result

2）二级
NonCreditCAPS.NonCreditCAPS_Summary,
CAIS_Account.CAIS_Summary,
（CAIS_Account.CAIS_Account_DETAILS）,
Current_Application.Current_Application_Details,
（CAPS.CAPS_Application_Details）,
CAPS.CAPS_Summary

3)三级
CAIS_Account.CAIS_Account_DETAILS,
CAPS.CAPS_Application_Details

# 一级

In [17]:
query0 = '''
select customerid,taskid,create_time,score,"header",totalcaps_summary,
creditprofileheader,usermessage,match_result
from ind_oss_creditreport
'''

In [19]:
df0 = data_con.database_gn(query0)
df0.shape
# save_data_to_pickle(df0, file_path, 'experian.pkl')
for cols in df0.columns.tolist()[3:]:
    df_temp = dp.from_json(df0,cols)
    df0 = df_temp
df0.shape
df0.head()

Successful connection

(34471, 9)

new columns done
CreditRating
BureauScore
BureauScoreConfidLevel
run time = 0.19087600708007812
new columns done
MessageText
ReportDate
SystemCode
ReportTime
run time = 0.12396597862243652
new columns done
TotalCAPSLast90Days
TotalCAPSLast7Days
TotalCAPSLast30Days
TotalCAPSLast180Days
run time = 0.11037993431091309
new columns done
Version
ReportDate
Subscriber
ReportTime
Enquiry_Username
ReportNumber
Subscriber_Name
run time = 0.30802202224731445
new columns done
UserMessageText
run time = 0.06201291084289551
new columns done
Exact_match
run time = 0.060331106185913086

(34471, 21)

,customerid,taskid,create_time,CreditRating,BureauScore,BureauScoreConfidLevel,MessageText,ReportDate,SystemCode,ReportTime,TotalCAPSLast90Days,TotalCAPSLast7Days,TotalCAPSLast30Days,TotalCAPSLast180Days,Version,Subscriber,Enquiry_Username,ReportNumber,Subscriber_Name,UserMessageText,Exact_match
0,1147360,INDIACREDITREPORTINDQRGTC158804937854211473609...,2020-04-28 10:19:39,,787,H,,20200220,0,152856,4,0,2,8,V2.4,,cpu2mtshikhar_prod01,1582192736692,MOUNT SHIKHAR FINANCIAL SERVICES LTD,Normal Response,Y
1,1078432,INDIACREDITREPORTINDQRGTC158804937869210784321...,2020-04-28 10:19:39,,680,H,,20200220,0,152930,14,2,4,19,V2.4,,cpu2mtshikhar_prod01,1582192769854,MOUNT SHIKHAR FINANCIAL SERVICES LTD,Normal Response,Y
2,1147413,INDIACREDITREPORTINDQRGTC158804937929511474131...,2020-04-28 10:19:39,,806,H,,20200220,0,153223,6,2,6,6,V2.4,,cpu2mtshikhar_prod01,1582192942915,MOUNT SHIKHAR FINANCIAL SERVICES LTD,Normal Response,Y
3,1136147,INDIACREDITREPORTINDQRGTC158804938340111361472...,2020-04-28 10:19:43,,727,H,,20200220,0,155453,13,7,8,19,V2.4,,cpu2mtshikhar_prod01,1582194293076,MOUNT SHIKHAR FINANCIAL SERVICES LTD,Normal Response,Y
4,1146503,INDIACREDITREPORTINDQRGTC158804938593811465036...,2020-04-28 10:19:46,,769,H,,20200220,0,162332,6,1,5,8,V2.4,,cpu2mtshikhar_prod01,1582196012212,MOUNT SHIKHAR FINANCIAL SERVICES LTD,Normal Response,Y

In [20]:
connect = create_engine('postgresql+psycopg2://'+'postgres'+':'+'Mintq2019'+'@192.168.2.19'+':'+str(5432) + '/' + 'risk_dm')
pd.io.sql.to_sql(df0,'ind_oss_creditreport_level',connect,schema='public')
print(1)

1

# 二级

In [21]:
query1 = '''
select customerid,taskid,create_time,
noncreditcaps::json->>'NonCreditCAPS_Summary' as NonCreditCAPS_Summary ,
cais_summary::json->>'Total_Outstanding_Balance' as Total_Outstanding_Balance ,
cais_summary::json->>'Credit_Account' as Credit_Account ,
current_application_details,
caps_summary
from ind_oss_creditreport 
'''

In [22]:
df1 = data_con.database_gn(query1)
# save_data_to_pickle(df1, file_path, 'experian1.pkl')
df1.shape
for cols in df1.columns.tolist()[3:]:
    df_temp = dp.from_json(df1,cols)
    df1 = df_temp
list1 = ['Current_Applicant_Details','Current_Other_Details','Current_Applicant_Address_Details']
for cols in list1:
    df_temp = dp.from_json(df1,cols)
    df1 = df_temp      
df1.shape
df1.head()

Successful connection

(34471, 8)

new columns done
NonCreditCAPSLast7Days
NonCreditCAPSLast90Days
NonCreditCAPSLast30Days
NonCreditCAPSLast180Days
run time = 0.11698412895202637
new columns done
Outstanding_Balance_UnSecured
Outstanding_Balance_Secured
Outstanding_Balance_All
Outstanding_Balance_Secured_Percentage
Outstanding_Balance_UnSecured_Percentage
run time = 0.2500619888305664
new columns done
CreditAccountTotal
CreditAccountClosed
CADSuitFiledCurrentBalance
CreditAccountActive
CreditAccountDefault
run time = 0.14317536354064941
new columns done
Current_Applicant_Additional_Address_Details
Duration_Of_Agreement
Enquiry_Reason
Current_Applicant_Details
Finance_Purpose
Amount_Financed
Current_Other_Details
Current_Applicant_Address_Details
run time = 0.4148268699645996
new columns done
CAPSLast180Days
CAPSLast7Days
CAPSLast90Days
CAPSLast30Days
run time = 0.16294288635253906
new columns done
Voter_ID_Issue_Date
Passport_Expiration_Date
Middle_Name3
Telephone_Extension
Voter_ID_Expiration_Date
Universal_ID_Number
Last_Name
PAN_Expiration_Date
Universal_ID_Expiration_Date
Driver_License_Issue_Date
Passport_Number
PAN_Issue_Date
MobilePhoneNumber
Gender_Code
Telephone_Number_Applicant_1st
IncomeTaxPan
Universal_ID_Issue_Date
Driver_License_Expiration_Date
First_Name
Middle_Name2
Ration_Card_Expiration_Date
Voter_s_Identity_Card
Telephone_Type
Ration_Card_Issue_Date
Passport_Issue_Date
Date_Of_Birth_Applicant
EMailId
Ration_Card_Number
Driver_License_Number
Middle_Name1
run time = 0.9641380310058594
new columns done
Marital_Status
Number_of_Major_Credit_Card_Held
Time_with_Employer
Income
Employment_Status
run time = 0.2686488628387451
new columns done
PINCode
Landmark
State
City
BldgNoSocietyName
RoadNoNameAreaLocality
FlatNoPlotNoHouseNo
Country_Code
run time = 0.29686999320983887

(34471, 69)

,customerid,taskid,create_time,NonCreditCAPSLast7Days,NonCreditCAPSLast90Days,NonCreditCAPSLast30Days,NonCreditCAPSLast180Days,Outstanding_Balance_UnSecured,Outstanding_Balance_Secured,Outstanding_Balance_All,Outstanding_Balance_Secured_Percentage,Outstanding_Balance_UnSecured_Percentage,CreditAccountTotal,CreditAccountClosed,CADSuitFiledCurrentBalance,CreditAccountActive,CreditAccountDefault,Current_Applicant_Additional_Address_Details,Duration_Of_Agreement,Enquiry_Reason,Finance_Purpose,Amount_Financed,CAPSLast180Days,CAPSLast7Days,CAPSLast90Days,CAPSLast30Days,Voter_ID_Issue_Date,Passport_Expiration_Date,Middle_Name3,Telephone_Extension,Voter_ID_Expiration_Date,Universal_ID_Number,Last_Name,PAN_Expiration_Date,Universal_ID_Expiration_Date,Driver_License_Issue_Date,Passport_Number,PAN_Issue_Date,MobilePhoneNumber,Gender_Code,Telephone_Number_Applicant_1st,IncomeTaxPan,Universal_ID_Issue_Date,Driver_License_Expiration_Date,First_Name,Middle_Name2,Ration_Card_Expiration_Date,Voter_s_Identity_Card,Telephone_Type,Ration_Card_Issue_Date,Passport_Issue_Date,Date_Of_Birth_Applicant,EMailId,Ration_Card_Number,Driver_License_Number,Middle_Name1,Marital_Status,Number_of_Major_Credit_Card_Held,Time_with_Employer,Income,Employment_Status,PINCode,Landmark,State,City,BldgNoSocietyName,RoadNoNameAreaLocality,FlatNoPlotNoHouseNo,Country_Code
0,1147360,INDIACREDITREPORTINDQRGTC158804937854211473609...,2020-04-28 10:19:39,0,0,0,0,2267,0,2267,0,100,6,5,0,1,0,,30,13,99,5000,8,0,4,2,,,,,,,Debsharma,,,,,,9635270041,1,,BSXPD6042B,,,Dipankar,,,,,,,19950118,,,,,,,,,,733129,,19,Uttar Dinajpur,,,Kaliyaganj.East akhanagar.,IB
1,1078432,INDIACREDITREPORTINDQRGTC158804937869210784321...,2020-04-28 10:19:39,1,1,1,1,89874,0,89874,0,100,5,2,0,3,0,,30,13,99,5000,18,1,13,3,,,,,,,Kamble,,,,,,8692099049,1,,CDWPK8909B,,,Umesh,,,,,,,19870517,,,,,,,,,,400034,,27,Mumbai,,,48 Tenament 2 nd floor room 24 janata na,IB
2,1147413,INDIACREDITREPORTINDQRGTC158804937929511474131...,2020-04-28 10:19:39,1,1,1,1,23849,0,23849,0,100,4,0,0,4,0,,30,13,99,5000,5,1,5,5,,,,,,,Samukrao,,,,,,9867036287,1,,DEZPS0184F,,,Vikas,,,,,,,19871115,,,,,,,,,,400075,,27,Mumbai,,,Room no 406(Juhi) building Laxminagar ga,IB
3,1136147,INDIACREDITREPORTINDQRGTC158804938340111361472...,2020-04-28 10:19:43,0,0,0,0,28637,367348,395985,93,7,16,10,0,6,0,,30,13,99,5000,19,7,13,8,,,,,,,Kumar,,,,,,9988096648,1,,DVLPK0714A,,,Manoj,,,,,,,19911213,,,,,,,,,,141015,,03,Ludhiana,,,"House no.90-91,street no.02 ram nagar mu",IB
4,1146503,INDIACREDITREPORTINDQRGTC158804938593811465036...,2020-04-28 10:19:46,0,0,0,0,200000,0,200000,0,100,3,2,0,1,0,,30,13,99,5000,8,1,6,5,,,,,,,Bute,,,,,,7875035492,1,,APQPB0912F,,,Jaykumar,,,,,,,19820901,,,,,,,,,,444605,,27,Amravati,,,New saturna nagar badnera road Amravati,IB

In [23]:
connect = create_engine('postgresql+psycopg2://'+'postgres'+':'+'Mintq2019'+'@192.168.2.19'+':'+str(5432) + '/' + 'risk_dm')
pd.io.sql.to_sql(df1,'ind_oss_creditreport_level2',connect,schema='public')
print(2)

2

# 三级

In [3]:
# CAPS.CAPS_Application_Details
query2 = '''
select
customerid,taskid,create_time,
caps_application_details
--replace(replace(caps_application_details,'[{',''),'}]',''),
--unnest(string_to_array(replace(replace(caps_application_details,'[{',''),'}]',''),'},{'))
from ind_oss_creditreport
'''

In [4]:
df2 = data_con.database_gn(query2)
# save_data_to_pickle(df2, file_path, 'experian2.pkl')
df2.shape
df2.caps_application_details = df2.caps_application_details.apply(lambda x:x.replace('[{','').replace('}]',''))
df21 = df2.caps_application_details.str.split('},{',expand=True).stack()
df21 = df21.reset_index(level = 1,drop= True).rename('caps_application_details')
df = df2.drop('caps_application_details',axis=1).join('{' + df21 +'}').reset_index()
df = dp.from_json(df,'caps_application_details')
df = df[df['CAPS_Other_Details'].isna()==False]
list2 = ['CAPS_Other_Details','CAPS_Applicant_Details','CAPS_Applicant_Address_Details']
for cols in list2:
    df_temp = dp.from_json(df,cols)
    df = df_temp  
df.shape
df.head()

Successful connection

(34471, 4)

new columns done
Subscriber_Name
ReportTime
Amount_Financed
CAPS_Applicant_Address_Details
CAPS_Other_Details
Date_of_Request
CAPS_Applicant_Additional_Address_Details
ReportNumber
Subscriber_code
CAPS_Applicant_Details
Finance_Purpose
Duration_Of_Agreement
Enquiry_Reason
run time = 7.2414021492004395
new columns done
Income
Time_with_Employer
Marital_Status
Number_of_Major_Credit_Card_Held
Employment_Status
run time = 2.7446398735046387
new columns done
First_Name
EMailId
MobilePhoneNumber
Middle_Name2
Telephone_Extension
IncomeTaxPan
Universal_ID_Issue_Date
Gender_Code
Telephone_Number_Applicant_1st
Universal_ID_Number
PAN_Expiration_Date
Universal_ID_Expiration_Date
Middle_Name3
Passport_Expiration_Date
Passport_Issue_Date
PAN_Issue_Date
Voter_ID_Issue_Date
Voter_s_Identity_Card
Driver_License_Expiration_Date
Date_Of_Birth_Applicant
Middle_Name1
Ration_Card_Issue_Date
Last_Name
Passport_number
Ration_Card_Number
Ration_Card_Expiration_Date
Voter_ID_Expiration_Date
Driver_License_Issue_Date
Telephone_Type
Driver_License_Number
run time = 12.681252717971802
new columns done
Country_Code
State
PINCode
FlatNoPlotNoHouseNo
RoadNoNameAreaLocality
BldgNoSocietyName
Landmark
City
run time = 4.227056980133057

(429392, 57)

,index,customerid,taskid,create_time,Subscriber_Name,ReportTime,Amount_Financed,Date_of_Request,CAPS_Applicant_Additional_Address_Details,ReportNumber,Subscriber_code,Finance_Purpose,Duration_Of_Agreement,Enquiry_Reason,Income,Time_with_Employer,Marital_Status,Number_of_Major_Credit_Card_Held,Employment_Status,First_Name,EMailId,MobilePhoneNumber,Middle_Name2,Telephone_Extension,IncomeTaxPan,Universal_ID_Issue_Date,Gender_Code,Telephone_Number_Applicant_1st,Universal_ID_Number,PAN_Expiration_Date,Universal_ID_Expiration_Date,Middle_Name3,Passport_Expiration_Date,Passport_Issue_Date,PAN_Issue_Date,Voter_ID_Issue_Date,Voter_s_Identity_Card,Driver_License_Expiration_Date,Date_Of_Birth_Applicant,Middle_Name1,Ration_Card_Issue_Date,Last_Name,Passport_number,Ration_Card_Number,Ration_Card_Expiration_Date,Voter_ID_Expiration_Date,Driver_License_Issue_Date,Telephone_Type,Driver_License_Number,Country_Code,State,PINCode,FlatNoPlotNoHouseNo,RoadNoNameAreaLocality,BldgNoSocietyName,Landmark,City
0,0,1147360,INDIACREDITREPORTINDQRGTC158804937854211473609...,2020-04-28 10:19:39,XXXXXXXXXX,152856,0,20200125,,1579957576106,OTHXXXXXXXX,99,0,13,,,,,,Dipankar,,9635270041,,None,BSXPD6042B,,1,None,,,,,,,,,,,19950118,,,Debsharma,,,,,,01,,IB,19,733129,NA Adress,,Radhikapur B.O,,Kaliyaganj
1,0,1147360,INDIACREDITREPORTINDQRGTC158804937854211473609...,2020-04-28 10:19:39,XXXXXXXXXX,152856,0,20200121,,1579593132628,OTHXXXXXXXX,99,0,13,,,,,,Dipankar,debsharmadipankar@gmail.com,9635270041,,None,BSXPD6042B,,1,None,,,,,,,,,,,19950118,,,Debsharma,,,,,,01,,IB,19,733129,North Dinajpur_WEST BENGAL,,,,North Dinajpur
2,0,1147360,INDIACREDITREPORTINDQRGTC158804937854211473609...,2020-04-28 10:19:39,XXXXXXXXXX,152856,0,20200101,,1577853535653,OTHXXXXXXXX,99,0,13,,,,,,Dipankar,,9635270041,,None,BSXPD6042B,,1,None,,,,,,,,,,,19950118,,,Debsharma,,,,,,01,,IB,19,733129,NA Adress,,Radhikapur B.O,,Kaliyaganj
3,0,1147360,INDIACREDITREPORTINDQRGTC158804937854211473609...,2020-04-28 10:19:39,XXXXXXXXXX,152856,0,20191209,,1575909806032,OTHXXXXXXXX,99,0,13,,,,,,Dipankar,,9635270041,,None,BSXPD6042B,,1,None,,,,,,,,,,,19950118,,,Debsharma,,,,,,01,,IB,19,733129,NA Adress,,Radhikapur B.O,,Kaliyaganj
4,0,1147360,INDIACREDITREPORTINDQRGTC158804937854211473609...,2020-04-28 10:19:39,XXXXXXXXXX,152856,0,20191112,,1573562180633,OTHXXXXXXXX,99,0,13,,,,,,Dipankar,,9635270041,,None,BSXPD6042B,,1,None,,,,,,,,,,,19950118,,,Debsharma,,,,,,01,,IB,19,733129,NA Adress,,Radhikapur B.O,,Kaliyaganj

In [7]:
df = load_data_from_pickle(file_path,'ind_oss_creditreport_caps_application_details.pkl')
df.shape
df = df.drop('CAPS_Applicant_Additional_Address_Details',axis = 1)
connect = create_engine('postgresql+psycopg2://'+'postgres'+':'+'Mintq2019'+'@192.168.2.19'+':'+str(5432) + '/' + 'risk_dm')
pd.io.sql.to_sql(df,'ind_oss_creditreport_caps_application_details',connect,schema='public')
print(3)

(429392, 57)

3

In [ ]:
# df.CAPS_Applicant_Additional_Address_Details[5]

In [10]:
query3 = '''select *
from ind_oss_creditreport_cais_account_details
'''

In [11]:
df3 = data_con.database_gn(query3)
# save_data_to_pickle(df3, file_path, 'experian3.pkl')
df3.shape
drop_list = ['cais_holder_details','cais_holder_address_details','cais_holder_id_details','cais_account_history','cais_holder_phone_details']
df3 = df3.drop(drop_list,axis = 1)
save_data_to_pickle(df3,file_path,'ind_oss_creditreport_level3.pkl')
df3.shape
df3.head()

Successful connection

(325425, 53)

(325425, 48)

,customerid,taskid,create_time,accountholdertypecode,litigationstatusdate,open_date,account_type,original_charge_off_amount,income,subscriber_comments,currencycode,payment_history_profile,portfolio_type,dateofaddition,payment_rating,value_of_collateral,occupation_code,subscriber_name,suitfiled_wilfuldefault,written_off_settled_status,written_off_amt_total,date_of_first_delinquency,promotional_rate_flag,date_reported,suitfiledwillfuldefaultwrittenoffstatus,value_of_credits_last_month,date_closed,current_balance,scheduled_monthly_payment_amount,amount_past_due,rate_of_interest,terms_frequency,account_number,date_of_last_payment,special_comment,defaultstatusdate,income_indicator,highest_credit_or_original_loan_amount,settlement_amount,type_of_collateral,writeoffstatusdate,written_off_amt_principal,income_frequency_indicator,consumer_comments,repayment_tenure,terms_duration,identification_number,account_status
0,965524,INDIACREDITREPORTINDQRGTC158804821898596552426841,2020-04-28 10:00:19,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,983182,INDIACREDITREPORTINDQRGTC158804821983998318224496,2020-04-28 10:00:20,1,,20181211,13,,15000,,INR,0000000000??????????????????????????,I,20190104,0,,,XXXXXXXXXX,00,,,,,20191130,,,,54414,,0,22.140,M,XXXXXXXXXX,20191123,,,,71661,,,,,,,36,036,NBFXXXXXXXX,11
2,983182,INDIACREDITREPORTINDQRGTC158804821983998318224496,2020-04-28 10:00:20,1,,20190413,05,,,,INR,N,I,20190531,S,,,XXXXXXXXXX,,,,,,20190531,,,20190502,0,,0,,,XXXXXXXXXX,20190502,,,,4000,,,,,,,0,,OTHXXXXXXXX,15
3,983182,INDIACREDITREPORTINDQRGTC158804821983998318224496,2020-04-28 10:00:20,1,,20190223,05,,,,INR,0???????????????????????????????????,I,20190630,0,,,XXXXXXXXXX,,,,,,20190731,,,20190311,0,,0,,,XXXXXXXXXX,20190223,,,,2200,,,,,,,0,,NBFXXXXXXXX,13
4,983182,INDIACREDITREPORTINDQRGTC158804821983998318224496,2020-04-28 10:00:20,1,,20190218,05,,,,INR,0???????????????????????????????????,I,20190630,0,,,XXXXXXXXXX,,,,,,20190731,,,20190305,0,,0,,,XXXXXXXXXX,20190218,,,,1500,,,,,,,0,,NBFXXXXXXXX,13

In [15]:
connect = create_engine('postgresql+psycopg2://'+'postgres'+':'+'Mintq2019'+'@192.168.2.19'+':'+str(5432) + '/' + 'risk_dm')
pd.io.sql.to_sql(df3,'ind_oss_creditreport_level3',connect,schema='public')
print(4)

4