In [46]:
import os
import sys
import time
import pandas as pd 
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import numpy as np
import re
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
sys.path.append('/Users/yantingting/PycharmProjects/modeling/')
import database_conncet as data_con
import data_processing as dp
import summary_statistics as ss
from data_io_utils import *
from matplotlib.pyplot import MultipleLocator
from jinja2 import Template
from sqlalchemy import create_engine

In [47]:
file_path = '/Users/yantingting/Seafile/风控/模型/10 印尼/召回项目/0525_印尼召回'
if not os.path.exists(file_path):
    os.makedirs(file_path)

# 提取样本

1)结清之后30天未申请

In [48]:
query0 = '''
with loan as (select customer_id,id as loanid ,return_flag,effective_date,due_date,paid_off_time,late_days,
row_number()over(partition by customer_id order by effective_date desc ) as rank1
from rt_t_gocash_core_loan 
where effective_date>='2017-10-24'),
last_apply as (select customer_id,max(apply_time) as last_apply_time
from rt_t_gocash_core_loan 
group by 1)
select loan.*,last_apply.last_apply_time 
from loan
left join last_apply 
on loan.customer_id = last_apply.customer_id
where rank1 = 1 
and paid_off_time >= last_apply_time
and substring(paid_off_time,1,10)>='2020-03-05' and  substring(paid_off_time,1,10)<='2020-04-23';
'''

In [49]:
df0 = data_con.database_gn(query0)
df0.head()
df0.shape

Successful connection

,customer_id,loanid,return_flag,effective_date,due_date,paid_off_time,late_days,rank1,last_apply_time
0,436679972433264640,436683193440436224,false,2020-02-19,2020-03-18,2020-03-19 12:24:58,1,1,2020-02-18 23:23:06
1,437538095557410816,449648932916994048,true,2020-03-25,2020-04-15,2020-04-01 15:55:32,0,1,2020-03-25 18:04:20
2,416215026226339840,420897367343407104,true,2020-01-06,2020-04-20,2020-04-19 21:35:48,0,1,2020-01-06 09:55:52
3,390114097186308096,440814009565224960,true,2020-03-01,2020-03-22,2020-03-11 02:06:09,0,1,2020-03-01 08:57:30
4,419852476718940160,443801792940515328,true,2020-03-09,2020-04-22,2020-04-22 08:35:04,0,1,2020-03-09 14:49:53

(8546, 9)

2）被收紧的模型分拒绝

In [50]:
query1 = '''
with risk as (select  customerid as customer_id, orderno as loanid,typeid,ruleresult,
row_number()over(partition by customerid order by createtime desc ) as rank1
from rt_risk_mongo_gocash_riskreport
where ruleresultname = 'oldUserModelV2Score'
and noderesult = 'R'
and typeid != 'dj'
and ruleresult>'650.0')
select *
from risk
where rank1 = 1
'''

In [51]:
df1 = data_con.database_gn(query1)
df1.head()
df1.shape

Successful connection

          customer_id              loanid  typeid ruleresult  rank1
0  143050184424034304  461204660421230592  rc3_dj      663.0      1
1  143680287105490944  456755797857566720     rc3      653.0      1
2  144867589014036480  466247758909972480  rc3_dj      651.0      1
3  145116618901815296  470139255460036608  rc3_dj      652.0      1
4  145480946272313344  468532869143633920  rc3_dj      657.0      1

(20251, 5)

In [52]:
remain_list = ['customer_id','loanid']
df = pd.concat([df0[remain_list],df1[remain_list]],axis = 0) 
connect = create_engine('postgresql+psycopg2://'+'postgres'+':'+'Mintq2019'+'@192.168.2.20'+':'+str(5432) + '/' + 'risk_dm')
pd.io.sql.to_sql(df,'zh_temp_0525',connect,schema='public')
print(2)

2

# 提取变量

In [53]:
query2 = '''
select t1.loanid,t2.ruleresultname,t2.datasources
from zh_temp_0525 t1 
left join rt_risk_mongo_gocash_riskreport t2 
on t1.loanid = t2.orderno
where t2.ruleresultname = 'oldUserModelV2Score'
'''

In [54]:
df2 = data_con.database_gn(query2)
df2.head()
df2.shape

Successful connection

,loanid,ruleresultname,datasources
0,447343506993283072,oldUserModelV2Score,"[{""vars"":[{""varName"":""cntLoan30PayDay"",""varVal..."
1,447313932607455232,oldUserModelV2Score,"[{""vars"":[{""varName"":""cntLoan30PayDay"",""varVal..."
2,443019773964877824,oldUserModelV2Score,"[{""vars"":[{""varName"":""cntLoan30PayDay"",""varVal..."
3,445847900122423296,oldUserModelV2Score,"[{""vars"":[{""varName"":""cntLoan30PayDay"",""varVal..."
4,444068436732452864,oldUserModelV2Score,"[{""vars"":[{""varName"":""cntLoan30PayDay"",""varVal..."

(23392, 3)

In [55]:
def json_to_var(data):
    # 解析sql从线上取的数
    data_json= dp.from_json(dp.from_json(data, 'datasources'), 'vars')
    data_json= data_json.drop(['dataSourceName'],1)
    # 变为一个变量一列
    data_prepared = data_json.set_index(['loanid','ruleresultname','varName']).unstack('varName')
    data_prepared.columns=[col[1] for col in data_prepared.columns]
    data_prepared=data_prepared.reset_index()
    data_prepared = data_prepared.fillna(-1).replace('', -1)
    return (data_prepared)

In [56]:
df_var1= json_to_var(df2)
df_var1.shape
df_var1.head()

new columns done
dataSourceName
vars
run time = 0.8410797119140625
new columns done
varName
varValue
run time = 3.108660936355591

(23392, 48)

,loanid,ruleresultname,age,avgExtendTimes60dPayDay,avgExtendTimes90dPayDay,avgExtendTimesPayDay,avgHisLatedays180dPayDay,cntAdvancePaidoff30dPayDay,cntAdvancePaidoffPayDay,cntExtendTimes30dPayDay,cntExtendTimes90dPayDay,cntLoan30PayDay,cntLoan90PayDay,cntLoanPayDay,cntPaidOffHour6to12H180dPayDay,cntPaidoff30dPayDay,cntPaidoffPayDay,educationRegularCollegeCourse,educationSeniorHighSchool,gender,iziA14d,iziA60d,iziB30d,iziC21d,iziC3d,iziPhoneAgeAge,iziPhoneScorebl,iziTelcomAxis,iziTopup0to180Min,iziTopup0to180Times,iziTopup0to360Min,iziTopup0to90Min,iziTopup180to360Min,iziTopup360to720Avg,iziTopup360to720Min,iziTopup60to90Min,iziTopup90to180Min,lastApplyCurdsPayDay,mailGmail,maxHisLatedays180dPayDay,maxHisLatedays360dPayDay,maxHisLatedays60dPayDay,maxHisLatedays90dPayDay,minHisLatedays360dPayDay,monthlySalary,referParents,referUpdateMinutes,religionIslam
0,441745541897297920,oldUserModelV2Score,31,-1.0,-1.000000,0.250000,-1.000000,0,4,0,0,0,0,4,0,0,0,1,0,1,1,4,2,0,0,6,52,0,15,14,10,15,10,26,10,15,15,463,1,-1,-1,-1,-1,-1,11000000.0,0,1359,0
1,441855301749473280,oldUserModelV2Score,24,0.0,0.000000,0.000000,0.000000,1,1,0,0,1,1,1,0,0,0,0,0,0,1,5,0,0,0,6,36,0,15,3,10,15,10,20,5,0,0,29,1,0,0,0,0,0,20000000.0,1,355,1
2,441926784597262336,oldUserModelV2Score,33,0.5,0.333333,0.333333,0.000000,0,2,0,1,1,3,3,2,1,1,1,0,0,1,9,4,0,0,6,80,0,10,26,10,10,20,47,5,10,10,30,1,0,0,0,0,0,65000000.0,1,639,0
3,441929792093782016,oldUserModelV2Score,23,1.0,0.500000,0.500000,0.666667,0,1,0,1,0,2,2,1,0,0,0,1,1,0,0,0,0,0,-1,-1,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,60,0,1,1,1,1,0,10000000.0,1,651,1
4,441935633144258560,oldUserModelV2Score,38,0.0,0.000000,0.000000,3.500000,0,1,0,0,0,2,2,0,0,0,1,0,1,0,3,0,0,0,-1,-1,0,0,0,25,0,25,23,20,0,0,33,1,7,7,7,7,0,15000000.0,1,674,1

In [77]:
# 重命名
name_dict = pd.read_excel('/Users/yantingting/Seafile/风控/模型/10 印尼/202001 老用户模型 V2/03_最终文档/需求文档/印尼UKU产品老客模型入模变量.xlsx',sheet_name='01_变量汇总')
name_dict = dict(zip(name_dict['线上变量名'],name_dict['模型变量名']))
# name_dict
df_var1.rename(columns=name_dict,inplace = True)
df_var1.head()

,loanid,ruleresultname,age,avg_extend_times_60d,avg_extend_times_90d,avg_extend_times,avg_his_latedays_180d,cnt_advance_paidoff30d,cnt_advance_paidoff,cnt_extend_times_30d,cnt_extend_times_90d,cnt_loan30,cnt_loan90,cnt_loan,cnt_paidoffhour_6to12_180d,cnt_paidoff30d,cnt_paidoff,education_REGULAR_COLLEGE_COURSE,education_SENIOR_HIGH_SCHOOL,gender,A_14d,A_60d,B_30d,C_21d,C_3d,phoneage,phonescore,izi_telcom_AXIS,topup_0_180_min,topup_0_180_times,topup_0_360_min,topup_0_90_min,topup_180_360_min,topup_360_720_avg,topup_360_720_min,topup_60_90_min,topup_90_180_min,lastapply_curds,mail_gmail,max_his_latedays_180d,max_his_latedays_360d,max_his_latedays_60d,max_his_latedays_90d,min_his_latedays_360d,monthly_salary,refer_parents,refer_update_minutes,religion_ISLAM
0,441745541897297920,oldUserModelV2Score,31,-1.0,-1.000000,0.250000,-1.000000,0,4,0,0,0,0,4,0,0,0,1,0,1,1,4,2,0,0,6,52,0,15,14,10,15,10,26,10,15,15,463,1,-1,-1,-1,-1,-1,11000000.0,0,1359,0
1,441855301749473280,oldUserModelV2Score,24,0.0,0.000000,0.000000,0.000000,1,1,0,0,1,1,1,0,0,0,0,0,0,1,5,0,0,0,6,36,0,15,3,10,15,10,20,5,0,0,29,1,0,0,0,0,0,20000000.0,1,355,1
2,441926784597262336,oldUserModelV2Score,33,0.5,0.333333,0.333333,0.000000,0,2,0,1,1,3,3,2,1,1,1,0,0,1,9,4,0,0,6,80,0,10,26,10,10,20,47,5,10,10,30,1,0,0,0,0,0,65000000.0,1,639,0
3,441929792093782016,oldUserModelV2Score,23,1.0,0.500000,0.500000,0.666667,0,1,0,1,0,2,2,1,0,0,0,1,1,0,0,0,0,0,-1,-1,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,60,0,1,1,1,1,0,10000000.0,1,651,1
4,441935633144258560,oldUserModelV2Score,38,0.0,0.000000,0.000000,3.500000,0,1,0,0,0,2,2,0,0,0,1,0,1,0,3,0,0,0,-1,-1,0,0,0,25,0,25,23,20,0,0,33,1,7,7,7,7,0,15000000.0,1,674,1

In [60]:
# 历史行为
query3 = '''
SELECT loanid
, sum(case when (t1.apply_time :: date - t2.apply_time :: date) <= 180 and date_part('hour', t3.paid_off_time::timestamp) between 6 and 12 then 1 else 0 end) as cnt_paidoffhour_6to12_180d
FROM (select loanid,customer_id,'2020-05-27' as apply_time
      from zh_temp_0525 )t1 
LEFT JOIN (SELECT id, apply_time, customer_id FROM rt_t_gocash_core_loan ) t2 on t1.customer_id = t2.customer_id::text
LEFT JOIN (SELECT * FROM public.rt_t_gocash_core_loan_pay_flow WHERE status = 'SUCCESS' ) t3 ON t2.id = t3.loan_id 
WHERE t1.apply_time :: timestamp > t2.apply_time :: timestamp
group by 1
'''

query4 = '''
SELECT loanid
, max(case when (t1.apply_time :: date - t2.apply_time :: date) <= 60 then late_days else null end) as max_his_latedays_60d 
, max(case when (t1.apply_time :: date - t2.apply_time :: date) <= 90 then late_days else null end) as max_his_latedays_90d 
, max(case when (t1.apply_time :: date - t2.apply_time :: date) <= 180 then late_days else null end) as max_his_latedays_180d 
, max(case when (t1.apply_time :: date - t2.apply_time :: date) <= 360 then late_days else null end) as max_his_latedays_360d 
, min(case when (t1.apply_time :: date - t2.apply_time :: date) <= 360 then late_days else null end) as min_his_latedays_360d 
, 1.0 * sum(case when (t1.apply_time :: date - t2.apply_time :: date) <= 180 then late_days else null end)/
	count(distinct case when (t1.apply_time :: date - t2.apply_time :: date) <= 180 then t2.id else null end)as avg_his_latedays_180d 
FROM (select loanid,customer_id,'2020-05-27' as apply_time
      from zh_temp_0525
       )t1 
LEFT JOIN (SELECT id, apply_time, customer_id FROM dw_gocash_go_cash_loan_gocash_core_loan ) t2 on t1.customer_id = t2.customer_id::text
LEFT JOIN (SELECT * FROM public.dw_gocash_go_cash_loan_gocash_core_loan_pay_flow WHERE status = 'SUCCESS' ) t3 ON t2.id = t3.loan_id 
WHERE t1.apply_time :: timestamp > t2.apply_time :: timestamp
group by 1
'''

query5 = '''
SELECT loanid
--近N天放款次数
, count(distinct case when (t1.apply_time :: date - t2.apply_time :: date) <= 30 and date(t1.apply_time) > date(t2.effective_date) and t2.effective_date != '1970-01-01'
					then t2.id else null end) as cnt_loan30
, count(distinct case when (t1.apply_time :: date - t2.apply_time :: date) <= 90 and date(t1.apply_time) > date(t2.effective_date) and t2.effective_date != '1970-01-01'
					then t2.id else null end) as cnt_loan90
, count(distinct case when date(t1.apply_time) > date(t2.effective_date) and t2.effective_date != '1970-01-01'
					then t2.id else null end) as cnt_loan
--第一次/最近一次申请距离现在申请时间间隔
, min(date(t1.apply_time) - date(t2.apply_time)) as lastapply_curds
----展期次数
, count(case when (t1.apply_time :: date - t2.apply_time :: date) <= 30 and t2.extend_times >0 and t2.effective_date != '1970-01-01'  then t2.id else null end) as cnt_extend_times_30d
, count(case when (t1.apply_time :: date - t2.apply_time :: date) <= 90 and t2.extend_times >0 and t2.effective_date != '1970-01-01'  then t2.id else null end) as cnt_extend_times_90d
, 1.0 * sum(t2.extend_times)/ count(case when t2.effective_date != '1970-01-01'  then t2.id end) as avg_extend_times
, case when count(case when (t1.apply_time :: date - t2.apply_time :: date) <= 60 and t2.effective_date != '1970-01-01' then t2.id else null end) > 0 
    then 1.0 * sum(case when (t1.apply_time :: date - t2.apply_time :: date) <= 60 then t2.extend_times else null end)/
    count(case when (t1.apply_time :: date - t2.apply_time :: date) <= 60 and t2.effective_date != '1970-01-01' then t2.id else null end) 
    else null end as avg_extend_times_60d
, case when count(case when (t1.apply_time :: date - t2.apply_time :: date) <= 90 and t2.effective_date != '1970-01-01' then t2.id else null end) > 0 
    then 1.0 * sum(case when (t1.apply_time :: date - t2.apply_time :: date) <= 90 then t2.extend_times else null end)/
    count(case when (t1.apply_time :: date - t2.apply_time :: date) <= 90 and t2.effective_date != '1970-01-01' then t2.id else null end) 
    else null end as avg_extend_times_90d
----贷后
, count(case when t2.loan_status = 'ADVANCE_PAIDOFF' then t2.id else null end) as cnt_advance_paidoff
, count(case when (t1.apply_time :: date - t2.apply_time :: date) <= 30 and t2.loan_status = 'ADVANCE_PAIDOFF' then t2.id else null end) as cnt_advance_paidoff30d
, count(case when t2.loan_status = 'PAIDOFF' then t2.id else null end) as cnt_paidoff
, count(case when (t1.apply_time :: date - t2.apply_time :: date) <= 30 and t2.loan_status = 'PAIDOFF' then t2.id else null end) as cnt_paidoff30d
from (select loanid,customer_id,'2020-05-27' as apply_time
      from zh_temp_0525
    )t1
left join dw_gocash_go_cash_loan_gocash_core_loan t2 on t1.customer_id = t2.customer_id::text
where t1.apply_time :: timestamp > t2.apply_time :: timestamp
group by loanid

'''

In [61]:
df3 = data_con.database_gn(query3)
df3.shape
df4 = data_con.database_gn(query4)
df4.shape
df5 = data_con.database_gn(query5)
df5.shape
df_var2 = df3.merge(df4,on = 'loanid', how = 'left').merge(df5,on = 'loanid', how = 'left')
df_var2.shape
df_var2.head()

Successful connection

(28797, 2)

Successful connection

(28797, 7)

Successful connection

(28797, 14)

(28797, 21)

,loanid,cnt_paidoffhour_6to12_180d,max_his_latedays_60d,max_his_latedays_90d,max_his_latedays_180d,max_his_latedays_360d,min_his_latedays_360d,avg_his_latedays_180d,cnt_loan30,cnt_loan90,cnt_loan,lastapply_curds,cnt_extend_times_30d,cnt_extend_times_90d,avg_extend_times,avg_extend_times_60d,avg_extend_times_90d,cnt_advance_paidoff,cnt_advance_paidoff30d,cnt_paidoff,cnt_paidoff30d
0,223392115342749696,0,NaN,NaN,NaN,NaN,NaN,None,0,0,1,687,0,0,20.0000000000000000,None,None,0,0,0,0
1,307128076098117632,0,NaN,NaN,NaN,NaN,NaN,None,0,0,1,456,0,0,20.0000000000000000,None,None,0,0,0,0
2,318489826882007040,0,NaN,NaN,NaN,NaN,NaN,None,0,0,2,425,0,0,4.0000000000000000,None,None,1,0,0,0
3,326498925267689472,0,NaN,NaN,NaN,NaN,NaN,None,0,0,1,403,0,0,20.0000000000000000,None,None,1,0,0,0
4,327045450678968320,0,NaN,NaN,NaN,NaN,NaN,None,0,0,4,401,0,0,5.2500000000000000,None,None,2,0,0,0

In [140]:
'''线上'''
df_var1[drop_list].shape
df_var1[drop_list].describe()
'''线下 '''
df_var1[['loanid']].merge(df_var2,on = 'loanid',how='left').shape
df_var1[['loanid']].merge(df_var2,on = 'loanid',how='left')[drop_list].describe()

'线上'

(23392, 20)

,cnt_paidoffhour_6to12_180d,max_his_latedays_60d,max_his_latedays_90d,max_his_latedays_180d,max_his_latedays_360d,min_his_latedays_360d,avg_his_latedays_180d,cnt_loan30,cnt_loan90,cnt_loan,lastapply_curds,cnt_extend_times_30d,cnt_extend_times_90d,avg_extend_times,avg_extend_times_60d,avg_extend_times_90d,cnt_advance_paidoff,cnt_advance_paidoff30d,cnt_paidoff,cnt_paidoff30d
count,23392.000000,23392.000000,23392.000000,23392.000000,23392.000000,23392.000000,23392.000000,23392.000000,23392.000000,23392.000000,23392.000000,23392.000000,23392.000000,23392.000000,23392.000000,23392.000000,23392.000000,23392.000000,23392.000000,23392.000000
mean,1.414757,0.121623,0.242049,0.399667,0.561602,0.036850,0.134281,0.379959,1.997264,3.750342,26.267998,0.012611,0.179933,0.300399,-0.152959,0.062605,1.911679,0.191134,1.396631,0.140219
std,1.565959,0.551909,0.652456,1.200062,2.880363,0.730093,0.448314,0.591177,1.433905,3.643654,36.670243,0.112355,0.414234,1.003997,0.563021,0.541667,2.305191,0.461434,1.985347,0.367324
min,0.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.000000,-1.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,11.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,3.000000,17.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000
75%,2.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.166667,1.000000,3.000000,5.000000,29.000000,0.000000,0.000000,0.200000,0.000000,0.000000,3.000000,0.000000,2.000000,0.000000
max,25.000000,10.000000,23.000000,78.000000,205.000000,76.000000,37.500000,9.000000,32.000000,64.000000,759.000000,2.000000,4.000000,20.000000,6.000000,7.000000,64.000000,9.000000,36.000000,4.000000

'线下 '

(23392, 21)

,cnt_paidoffhour_6to12_180d,max_his_latedays_60d,max_his_latedays_90d,max_his_latedays_180d,max_his_latedays_360d,min_his_latedays_360d,cnt_loan30,cnt_loan90,cnt_loan,lastapply_curds,cnt_extend_times_30d,cnt_extend_times_90d,cnt_advance_paidoff,cnt_advance_paidoff30d,cnt_paidoff,cnt_paidoff30d
count,23392.000000,4431.000000,19654.000000,22779.000000,23243.000000,23243.000000,23392.000000,23392.000000,23392.000000,23392.000000,23392.000000,23392.000000,23392.000000,23392.000000,23392.000000,23392.000000
mean,1.375171,0.377793,0.457159,0.593178,0.746805,0.033558,0.122948,1.346571,4.021161,31.483456,0.011115,0.115168,1.996324,0.027745,1.443399,0.014492
std,1.457938,1.140430,1.488493,1.618080,3.073470,0.196325,0.398707,1.048427,3.735977,20.536042,0.105249,0.330806,2.360753,0.184588,2.011755,0.122688
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2.000000,14.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,3.000000,28.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000
75%,2.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,2.000000,5.000000,44.000000,0.000000,0.000000,3.000000,0.000000,2.000000,0.000000
max,21.000000,31.000000,31.000000,78.000000,205.000000,10.000000,6.000000,23.000000,67.000000,85.000000,2.000000,3.000000,66.000000,5.000000,36.000000,3.000000

# 数据拼接和清洗

In [92]:
drop_list = df_var2.columns.tolist()[1:]
df_var = df_var1.drop(drop_list,axis = 1).merge(df_var2,on = 'loanid',how = 'left')
df_var.fillna(-1,inplace = True)
df_var.shape
df_var.head()

(23392, 48)

,loanid,ruleresultname,age,education_REGULAR_COLLEGE_COURSE,education_SENIOR_HIGH_SCHOOL,gender,A_14d,A_60d,B_30d,C_21d,C_3d,phoneage,phonescore,izi_telcom_AXIS,topup_0_180_min,topup_0_180_times,topup_0_360_min,topup_0_90_min,topup_180_360_min,topup_360_720_avg,topup_360_720_min,topup_60_90_min,topup_90_180_min,mail_gmail,monthly_salary,refer_parents,refer_update_minutes,religion_ISLAM,cnt_paidoffhour_6to12_180d,max_his_latedays_60d,max_his_latedays_90d,max_his_latedays_180d,max_his_latedays_360d,min_his_latedays_360d,avg_his_latedays_180d,cnt_loan30,cnt_loan90,cnt_loan,lastapply_curds,cnt_extend_times_30d,cnt_extend_times_90d,avg_extend_times,avg_extend_times_60d,avg_extend_times_90d,cnt_advance_paidoff,cnt_advance_paidoff30d,cnt_paidoff,cnt_paidoff30d
0,441745541897297920,oldUserModelV2Score,31,1,0,1,1,4,2,0,0,6,52,0,15,14,10,15,10,26,10,15,15,1,11000000.0,0,1359,0,0,-1.0,0.0,0.0,0.0,0.0,0E-20,0,1,5,85,0,0,0.20000000000000000000,-1,0E-20,5,0,0,0
1,441855301749473280,oldUserModelV2Score,24,0,0,0,1,5,0,0,0,6,36,0,15,3,10,15,10,20,5,0,0,1,20000000.0,1,355,1,1,-1.0,0.0,0.0,0.0,0.0,0E-20,0,1,2,84,0,1,1.5000000000000000,-1,3.0000000000000000,2,0,0,0
2,441926784597262336,oldUserModelV2Score,33,1,0,0,1,9,4,0,0,6,80,0,10,26,10,10,20,47,5,10,10,1,65000000.0,1,639,0,2,-1.0,0.0,0.0,0.0,0.0,0E-20,0,1,4,84,0,1,0.50000000000000000000,-1,1.00000000000000000000,3,0,1,0
3,441929792093782016,oldUserModelV2Score,23,0,1,1,0,0,0,0,0,-1,-1,0,-1,-1,-1,-1,-1,-1,-1,-1,-1,0,10000000.0,1,651,1,2,-1.0,0.0,1.0,1.0,0.0,0.50000000000000000000,0,1,3,84,0,0,0.33333333333333333333,-1,0E-20,2,0,0,0
4,441935633144258560,oldUserModelV2Score,38,1,0,1,0,3,0,0,0,-1,-1,0,0,0,25,0,25,23,20,0,0,1,15000000.0,1,674,1,2,-1.0,2.0,7.0,7.0,0.0,3.3333333333333333,0,1,3,84,0,1,0.33333333333333333333,-1,1.00000000000000000000,1,0,0,0

# 打分

In [106]:
import xgboost as xgb
from xgboost import DMatrix

features_used1 = pd.read_excel('/Users/yantingting/Seafile/风控/模型/10 印尼/202001 老用户模型 V2/03_最终文档/需求文档/印尼UKU产品老客模型入模变量.xlsx',sheet_name='01_变量汇总')
features_used = features_used1['模型变量名'].tolist()
len(features_used)

all_x_used = df_var[features_used]
all_x_used.index = df_var.loanid
# all_x_used.head()
for i in all_x_used.columns:
    try:
        all_x_used[i] = all_x_used[i].astype(float)
    except:
        print(i)

mymodel = xgb.Booster()
mymodel.load_model("/Users/yantingting/Seafile/风控/模型/10 印尼/202001 老用户模型 V2/03_最终文档/需求文档/grid_46_200210-09.model")      
           
data_lean = DMatrix(all_x_used)
ypred = mymodel.predict(data_lean)
score = [round(dp.Prob2Score(value, 600, 20)) for value in ypred]
data_scored = pd.DataFrame([all_x_used.index, score, ypred]).T
data_scored.rename(columns = {0:'loanid', 1:'score', 2:'prob'}, inplace=True)
data_scored.head()

46

/Users/yantingting/opt/anaconda3/envs/modeling/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

               loanid score       prob
0  441745541897297920   665  0.0928101
1  441855301749473280   660   0.109237
2  441926784597262336   646   0.165406
3  441929792093782016   639   0.204128
4  441935633144258560   628   0.270407

# 和线上分数比较

In [125]:
query6 = '''
select t1.customer_id,t1.loanid,t2.ruleresult,t3.return_flag,t3.apply_time,t4.cell_phone
from zh_temp_0525 t1 
left join rt_risk_mongo_gocash_riskreport t2 
on t1.loanid = t2.orderno
left join rt_t_gocash_core_loan t3 
on t1.loanid = t3.id::text
left join rt_t_gocash_core_customer t4 
on t1.customer_id = t4.id::text
where t2.ruleresultname = 'oldUserModelV2Score'
'''

In [126]:
df6 = data_con.database_gn(query6)
df6.shape
df6.head()

Successful connection

(23392, 6)

,customer_id,loanid,ruleresult,return_flag,apply_time,cell_phone
0,225031823084785664,441745541897297920,662.0,true,2020-03-03 22:39:04,081218521008
1,414915826025070592,441926784597262336,649.0,true,2020-03-04 10:39:16,081310308617
2,381112521906028544,442002916256612352,627.0,true,2020-03-04 15:41:47,081210718871
3,416701001000124416,442256990763646976,644.0,true,2020-03-05 08:31:23,081238773150
4,348798947778662400,442262544173334528,648.0,true,2020-03-05 08:53:27,081355878856

In [129]:

import sklearn
from sklearn.model_selection import train_test_split 

df_final = data_scored.merge(df6,on='loanid',how='left')
df_final['flag'] = df_final['score'].apply(lambda x: 1 if x>650 else 0  )
X_train, X_test, y_train, y_test = train_test_split(df_final,  df_final['flag'],
                                                    test_size=0.2, random_state=1,
                                                   shuffle = True,stratify = df_final['flag'])
# X_train
X_train[X_train['flag']==1][['customer_id','cell_phone']].to_excel(os.path.join(file_path,'X_train.xlsx'),index = False)
X_train.flag.value_counts()
X_test[X_test['flag']==1][['customer_id','cell_phone']].to_excel(os.path.join(file_path,'X_test.xlsx'),index = False)
X_test.flag.value_counts()
df_final.to_excel(os.path.join(file_path,'df_scored_0525.xlsx'),index = False)

df_final.shape
df_final.head()

1    12240
0     6473
Name: flag, dtype: int64

1    3061
0    1618
Name: flag, dtype: int64

(23392, 9)

,loanid,score,prob,customer_id,ruleresult,return_flag,apply_time,cell_phone,flag
0,441745541897297920,665,0.0928101,225031823084785664,662.0,true,2020-03-03 22:39:04,081218521008,1
1,441855301749473280,660,0.109237,431303583290793984,673.0,true,2020-03-04 05:55:13,081333125152,1
2,441926784597262336,646,0.165406,414915826025070592,649.0,true,2020-03-04 10:39:16,081310308617,0
3,441929792093782016,639,0.204128,410952509241786368,643.0,true,2020-03-04 10:51:13,0811431117,0
4,441935633144258560,628,0.270407,425251781659238400,630.0,true,2020-03-04 11:14:26,081311187111,0