In [1]:
from IPython.core.interactiveshell import InteractiveShell 
InteractiveShell.ast_node_interactivity = 'all' #默认为'last'
%config IPCompleter.greedy=True

In [2]:
import sys
import os
import pandas as pd
import numpy as np
import json
import math
import re
pd.set_option('display.max_columns', None)
#显示所有行
pd.set_option('display.max_rows', None)
#设置value的显示长度为100，默认为50
pd.set_option('max_colwidth',1000)
import sklearn
from sklearn.feature_extraction.text import CountVectorizer 
from sklearn.model_selection import train_test_split 
from collections import Counter
from pandas.api.types import is_dict_like
import itertools
import time
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import LabelBinarizer
from sklearn.preprocessing import MultiLabelBinarizer
sys.path.append('/Users/yantingting/PycharmProjects/modeling')
import data_processing as dp

In [3]:
file_path= '/Users/yantingting/Documents/海外风控/巴西/'
file_path_out = '/Users/yantingting/Documents/海外风控/巴西/Brazil_中间结果/'

# SDK数据提取和分析

数据读取和统计

In [4]:
brazil_data = pd.read_csv(file_path + 'brazil_data.csv')
print('原始样本数量: ', brazil_data.shape)
brazil_data.columns =  list(i.replace('risk_brazil_t_bank_data.', '') for i in brazil_data.columns)
# 1） package_name='br.com.inueva.contablet.portocred'，2）删除没有loan_id的数据， 3）删除重复数据  如果一个loan_id有多条数据，保留最后那一条
brazil_data = brazil_data[brazil_data['package_name'] == 'br.com.inueva.contablet.portocred']
print('限制package_name: ', brazil_data.shape)
brazil_data = brazil_data[~brazil_data['loan_id'].isnull()].sort_values(by = ['loan_id', 'create_time'], ascending = [True, True])
print('删除loanid为空的行: ', brazil_data.shape)
brazil_data = brazil_data.drop_duplicates('loan_id', keep ='last'  )
print('删除重复的loanid: ', brazil_data.shape)
brazil_data['loan_id'] =brazil_data['loan_id'].astype('int')
brazil_data.to_csv(file_path_out + 'brazil_sdk.csv')
brazil_data[['loan_id','create_time']].to_csv(file_path_out + 'loan_sdk.csv', index=False)

/Users/yantingting/anaconda3/envs/modeling/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (8,23,24,29) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

原始样本数量:  (34381, 31)
限制package_name:  (34165, 31)
删除loanid为空的行:  (34123, 31)
删除重复的loanid:  (33337, 31)

拼接银行和sdk共有的数据

In [5]:
loan_bank= pd.read_csv(os.path.join(file_path_out, 'loan_bank.csv'))
loan_sdk= pd.read_csv(os.path.join(file_path_out, 'loan_sdk.csv'))
df_temp = pd.merge(loan_bank, loan_sdk[['loan_id']], right_on='loan_id', left_on='loan_id',  how = 'inner' )
df_temp.to_csv(file_path_out + 'flag.csv', index=False)
df_temp['flag_result'].value_counts()
df_temp.head()

0    21015
1     2912
Name: flag_result, dtype: int64

      loan_id      DATE  flag_result
0  3808870852  20191014            1
1  3808871384  20191015            1
2  3808917409  20191017            1
3  3808927120  20191018            1
4  3808927373  20191018            1

确定训练集、测试集和验证集(训练和测试按8：2分，训练和验证按照时间分(大概比例是8：2）)

In [6]:
df_temp = pd.read_csv(file_path_out + 'flag.csv')

# 按时间拆分样本
print('********** 样本总数：**********')
print('样本总数： ', df_temp.shape[0])
print(df_temp['flag_result'].value_counts())


print('********** 训练和验证(OOT)样本总数： **********')
df_train = df_temp[df_temp['DATE']<=20191020]
df_test = df_temp[df_temp['DATE']>20191020]
print('训练集样本总数： ', df_train.shape[0])
print('验证集(OOT)样本总数： ', df_test.shape[0])
print(df_train['flag_result'].value_counts())
print(df_test['flag_result'].value_counts())

print('********** 训练和测试样本总数： **********')
X_train1, X_train2, y_train1, y_train2 = train_test_split(df_train['loan_id'], df_train['flag_result'], test_size=0.2, random_state=1)
df_train1 =  pd.merge(X_train1.to_frame(), y_train1.to_frame(), left_index=True, right_index=True)
df_train2 =  pd.merge(X_train2.to_frame(), y_train2.to_frame(), left_index=True, right_index=True)
print('训练集样本总数： ', df_train1.shape[0])
print('测试集样本总数： ', df_train2.shape[0])
print(df_train1['flag_result'].value_counts())
print(df_train2['flag_result'].value_counts())

df_train1.to_csv(file_path_out + 'df_train1.csv' ,  index=False)
df_train2.to_csv(file_path_out + 'df_train2.csv' ,  index=False )
df_test.to_csv(file_path_out + 'df_test.csv'  ,  index=False)

********** 样本总数：**********
样本总数：  23927
0    21015
1     2912
Name: flag_result, dtype: int64
********** 训练和验证(OOT)样本总数： **********
训练集样本总数：  18712
验证集(OOT)样本总数：  5215
0    16347
1     2365
Name: flag_result, dtype: int64
0    4668
1     547
Name: flag_result, dtype: int64
********** 训练和测试样本总数： **********
训练集样本总数：  14969
测试集样本总数：  3743
0    13063
1     1906
Name: flag_result, dtype: int64
0    3284
1     459
Name: flag_result, dtype: int64

数据拆分 app + contact + deviceinfo + othersdk

In [7]:
brazil_data = pd.read_csv(file_path_out + 'brazil_sdk.csv')
flag = pd.read_csv(file_path_out + 'flag.csv')
print(flag.shape)
brazil_data = pd.merge(flag, brazil_data, on= 'loan_id', how='left' )
print(brazil_data.shape)
app_data = brazil_data[['loan_id', 'app_list']]
print('app: ',  app_data.shape)
contact_data = brazil_data[['loan_id', 'contact_book']]
print('contact: ',  contact_data.shape)
deviceinfo_data = brazil_data[['loan_id', 'device_info']]
print('deviceinfo: ',  deviceinfo_data.shape)
drop_list = ['id',
 'app_id',
 'contact_book',
 'app_list',
 'device_info',
 'advertisement_id',
 'uid',
 'transaction_id',
 'request_id',
 'message',
 'dt']
othersdk_data =  brazil_data.drop(drop_list, axis = 1)
print('othersdk: ',  othersdk_data.shape)
app_data.to_csv(file_path_out + 'app_data.csv', index = False)
contact_data.to_csv(file_path_out + 'contact_data.csv', index = False)
deviceinfo_data.to_csv(file_path_out + 'deviceinfo_data.csv', index = False)
othersdk_data.to_csv(file_path_out + 'othersdk_data.csv', index = False)
time.sleep(0.1)

/Users/yantingting/anaconda3/envs/modeling/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(23927, 3)
(23927, 34)
app:  (23927, 2)
contact:  (23927, 2)
deviceinfo:  (23927, 2)
othersdk:  (23927, 23)

app数据处理并衍生变量
1、频数
2、（TF-IDF)

拼接训练集的app数据

In [8]:
app_data = pd.read_csv(file_path_out + 'app_data.csv')
# app数据  1 ）删除app_list为空的数据
print('********** app 原始样本量: **********')
app_data.shape
app_data = app_data[app_data['app_list'].notnull()]
app_data = app_data.drop_duplicates()
print('********** app去重之后样本量: **********')
app_data.shape
# app数据解析
app_data1 = dp.from_json(app_data, 'app_list')
print('********** app解析之后数量: **********')
app_data1.info()
app_data1.to_csv(file_path_out + 'app_data_analysis.csv', index = False)
#拼接训练样本
app_data_analysis = app_data1.copy()
df_train1 = pd.read_csv(file_path_out + 'df_train1.csv' )
print('app训练集样本总数： ', df_train1.shape[0])
print(df_train1['flag_result'].value_counts())
df_app_train1= pd.merge(df_train1, app_data_analysis, on='loan_id', how='left' )
df_app_train1.to_csv(file_path_out + 'df_app_train1.csv',  index=False)
print(df_app_train1.info())
time.sleep(0.1)

********** app 原始样本量: **********

(23927, 2)

********** app去重之后样本量: **********

(23927, 2)

new columns done
packageName
versionCode
versionName
appName
installTime
run time = 3.75125789642334
********** app解析之后数量: **********
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 933829 entries, 0 to 933828
Data columns (total 6 columns):
loan_id        933829 non-null object
packageName    933829 non-null object
versionCode    933829 non-null int64
versionName    933766 non-null object
appName        933829 non-null object
installTime    933829 non-null object
dtypes: int64(1), object(5)
memory usage: 42.7+ MB
app训练集样本总数：  14969
0    13063
1     1906
Name: flag_result, dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 582317 entries, 0 to 582316
Data columns (total 7 columns):
loan_id        582317 non-null object
flag_result    582317 non-null int64
packageName    582317 non-null object
versionCode    582317 non-null int64
versionName    582273 non-null object
appName        582317 non-null object
installTime    582317 non-null object
dtypes: int64(2), object(5)
memory usage: 35.5+ MB
None

1、频数

1）生成频数字典（安装率超过5% 的app作为未来tf-idf考虑的app)

In [9]:
app_data1 = pd.read_csv(file_path_out + 'df_app_train1.csv')
app_freq = pd.DataFrame(app_data1['appName'].value_counts()).reset_index()
print('训练集的不同app数量: ' , app_freq.shape[0])
app_freq.rename(columns={'index': 'app', 'appName': 'freq'}, inplace=True)
cnt_loan = app_data1['loan_id'].nunique()
app_freq['rate_freq'] = app_freq['freq'].apply(lambda x: x/cnt_loan)
app_tfidf = app_freq[app_freq['rate_freq']>=0.05]
print('可用于tf_idf的app总数是(安装率超过5%)： ', app_tfidf.shape[0])
app_tfidf.to_csv(file_path_out + 'app_for_tfidf.csv', index = False)

# high = pd.Series(app_freq['freq'].unique()).quantile(0.98)
# mid = pd.Series(app_freq['freq'].unique()).quantile(0.93)
app_freq['high_freq_app'] = app_freq['rate_freq'].apply(lambda x: 1 if x >= 0.3 else 0)
print('高频APP个数', app_freq['high_freq_app'].sum())
app_freq['mid_freq_app'] = app_freq['rate_freq'].apply(lambda x: 1 if (0.2 <= x < 0.3) else 0)
print('中频APP个数', app_freq['mid_freq_app'].sum())
app_freq['low_freq_app'] = app_freq['freq'].apply(lambda x: 1 if x <= 1 else 0)
print('低频APP个数(仅一人安装)', app_freq['low_freq_app'].sum())
app_freq.to_csv(file_path_out  + 'app_freq_train1_dict.csv', index=False)
time.sleep(0.1)

训练集的不同app数量:  31922
可用于tf_idf的app总数是(安装率超过5%)：  121
高频APP个数 14
中频APP个数 13
低频APP个数(仅一人安装) 14884

2) 生成频数相关的变量

In [10]:
time.sleep(0.1)
df_app = pd.read_csv(file_path_out + 'app_data_analysis.csv')
count_app = Counter(df_app['loan_id'])
app_freq = pd.read_csv(file_path_out  + 'app_freq_train1_dict.csv')
train1 = pd.merge(df_app, app_freq, left_on='appName', right_on='app', how = 'left')
var_app = train1.groupby(['loan_id'])['high_freq_app', 'mid_freq_app', 'low_freq_app'].agg('sum').reset_index()
var_app['cnt_app'] = var_app['loan_id'].map(lambda x: count_app[x])
list1 = ['high_freq_app', 'mid_freq_app', 'low_freq_app']
for i in list1:
    var_app['rate_' + i] = var_app.apply(lambda x: x[i]/x['cnt_app'], axis=1)
var_app.to_csv(file_path_out + 'var_app_freq.csv', index=False)
var_dict_app_freq = dp.VarDict(var_app.drop('loan_id', axis = 1), data_sorce='app_freq')
var_dict_app_freq.to_csv(os.path.join(file_path_out, 'var_dict_app_freq.csv'), index = False)
print('app频数变量: ', var_app.shape)
var_app.head()

app频数变量:  (23927, 8)

,loan_id,high_freq_app,mid_freq_app,low_freq_app,cnt_app,rate_high_freq_app,rate_mid_freq_app,rate_low_freq_app
0,3808097513,13.0,2.0,0.0,42,0.309524,0.047619,0.000000
1,3808101514,7.0,2.0,0.0,30,0.233333,0.066667,0.000000
2,3808109515,10.0,4.0,0.0,38,0.263158,0.105263,0.000000
3,3808109942,11.0,4.0,0.0,32,0.343750,0.125000,0.000000
4,3808117823,6.0,3.0,2.0,47,0.127660,0.063830,0.042553

进生成训练集的变量

In [11]:
# time.sleep(0.1)
# df_app_train1 = pd.read_csv(file_path_out + 'df_app_train1.csv')
# count_app = Counter(df_app_train1['loan_id'])
# app_freq = pd.read_csv(file_path_out  + 'app_freq_train1_dict.csv')
# train1 = pd.merge(df_app_train1, app_freq, left_on='appName', right_on='app', how = 'left')
# var_app_train1 = train1.groupby(['loan_id'])['high_freq_app', 'mid_freq_app', 'low_freq_app'].agg('sum').reset_index()
# var_app_train1['cnt_app'] = var_app_train1['loan_id'].map(lambda x: count_app[x])
# list1 = ['high_freq_app', 'mid_freq_app', 'low_freq_app']
# for i in list1:
#     var_app_train1['rate_' + i] = var_app_train1.apply(lambda x: x[i]/x['cnt_app'], axis=1)
# var_app_train1.to_csv(file_path_out + 'var_app_freq_train1.csv', index=False)
# print('app频数变量: ', var_app_train1.shape)
# var_app_train1.head()

app频数变量:  (14969, 8)

,loan_id,high_freq_app,mid_freq_app,low_freq_app,cnt_app,rate_high_freq_app,rate_mid_freq_app,rate_low_freq_app
0,3808097513,13.0,2.0,0.0,42,0.309524,0.047619,0.000000
1,3808101514,7.0,2.0,0.0,30,0.233333,0.066667,0.000000
2,3808109515,10.0,4.0,0.0,38,0.263158,0.105263,0.000000
3,3808109942,11.0,4.0,0.0,32,0.343750,0.125000,0.000000
4,3808117823,6.0,3.0,2.0,47,0.127660,0.063830,0.042553

2、（TF-IDF）

1）生成 idf 字典

In [11]:
time.sleep(0.5)
df_app_train1 = pd.read_csv(file_path_out + 'df_app_train1.csv')
app_idf_data = df_app_train1[['loan_id','appName']].copy()
app_idf = pd.pivot_table(app_idf_data.drop_duplicates(), index = 'appName', values = 'loan_id', aggfunc = 'count').reset_index()
app_idf.rename(columns={'loan_id': 'cnt_idf'}, inplace=True)
cnt_document = app_idf_data['loan_id'].nunique()
app_idf['idf'] = app_idf['cnt_idf'].apply(lambda x: math.log10(cnt_document/(x+1)))
app_idf[['appName', 'idf']].to_csv(file_path_out + 'app_idf_train1_dict.csv', index=False)
app_idf.shape
app_idf.head()

(31922, 3)

                  appName  cnt_idf       idf
0     Universal TV Remote        3  3.573133
1         Provas PM v 1.0        1  3.874163
2             Abastece Aí      359  1.618890
3          LP  Installer         2  3.698072
4          Lucky Patcher         7  3.272103

2）生成TF-IDF相关的变量

In [20]:
time.sleep(0.5)
df_app = pd.read_csv(file_path_out + 'app_data_analysis.csv')
print(df_app.shape)
dict_tfidf = pd.read_csv(file_path_out + 'app_idf_train1_dict.csv')
app_tfidf_data = df_app.copy()
# 计算每个loan的app个数
cnt_app = Counter(app_tfidf_data['loan_id'])
# 计算TF
app_tfidf =  pd.pivot_table(app_tfidf_data, index=['loan_id', 'appName'], values='packageName',aggfunc='count' ,fill_value=0).reset_index()
app_tfidf.rename(columns = {'packageName': 'cnt_tf'},  inplace=True)
app_tfidf['cnt_app'] = app_tfidf['loan_id'].map(lambda x: cnt_app[x])
app_tfidf['app_tf'] = app_tfidf.apply(lambda x: x['cnt_tf']/x['cnt_app'], axis = 1)

# 计算IDF
app_tfidf = pd.merge(app_tfidf, dict_tfidf, on='appName', how = 'left')
app_tfidf['tf_idf'] = app_tfidf.apply(lambda x: x['app_tf']*x['idf'], axis=1)

app_for_tfidf = pd.read_csv(file_path_out + 'app_for_tfidf.csv')
app_tfidf_list = app_for_tfidf['app'].values.tolist()
app_tfidf1=app_tfidf[app_tfidf['appName'].isin(app_tfidf_list)]
var_app_tfidf = pd.pivot_table(app_tfidf1, index='loan_id', columns = 'appName',values='tf_idf', aggfunc='sum', fill_value=0).reset_index()
var_app_tfidf = pd.merge(df_app[['loan_id']].drop_duplicates(),var_app_tfidf, on='loan_id' , how='left')
print(var_app_tfidf.shape)
var_app_tfidf.to_csv(file_path_out + 'var_app_tfidf.csv')
var_dict_app_tfidf = dp.VarDict(var_app_tfidf.drop('loan_id', axis = 1), data_sorce='app_freq')
var_dict_app_tfidf.to_csv(os.path.join(file_path_out, 'var_dict_app_tfidf.csv'), index = False)

(933829, 6)
(23927, 122)

仅生成训练集的变量

In [14]:
# time.sleep(0.5)
# df_app_train1 = pd.read_csv(file_path_out + 'df_app_train1.csv')
# dict_tfidf = pd.read_csv(file_path_out + 'app_idf_train1_dict.csv')
# app_tfidf_data = df_app_train1.copy()
# # 计算每个loan的app个数
# cnt_app = Counter(app_tfidf_data['loan_id'])
# # 计算TF
# app_tfidf =  pd.pivot_table(app_tfidf_data, index=['loan_id', 'appName'], values='packageName',aggfunc='count' ,fill_value=0).reset_index()
# app_tfidf.rename(columns = {'packageName': 'cnt_tf'},  inplace=True)
# app_tfidf['cnt_app'] = app_tfidf['loan_id'].map(lambda x: cnt_app[x])
# app_tfidf['app_tf'] = app_tfidf.apply(lambda x: x['cnt_tf']/x['cnt_app'], axis = 1)

# # 计算IDF
# app_tfidf = pd.merge(app_tfidf, dict_tfidf, on='appName', how = 'left')
# app_tfidf['tf_idf'] = app_tfidf.apply(lambda x: x['app_tf']*x['idf'], axis=1)

# app_for_tfidf = pd.read_csv(file_path_out + 'app_for_tfidf.csv')
# app_tfidf_list = app_for_tfidf['app'].values.tolist()
# app_tfidf1=app_tfidf[app_tfidf['appName'].isin(app_tfidf_list)]
# var_app_tfidf = pd.pivot_table(app_tfidf1, index='loan_id', columns = 'appName',values='tf_idf', aggfunc='sum', fill_value=0).reset_index()
# var_app_tfidf_train1 = pd.merge(df_app_train1[['loan_id']].drop_duplicates(),var_app_tfidf, on='loan_id' , how='left')
# print(var_app_tfidf_train1.shape)
# var_app_tfidf_train1.to_csv(file_path_out + 'var_app_tfidf_train1.csv')

(14969, 122)

通讯录数据处理并衍生变量
1）条数
2）近亲占比和条数
3）号码长度占比和条数

拼接训练集的contact数据
loan_id = 3808981804/3808627327  是异常值，需要看原始数据

In [4]:
contact_data = pd.read_csv(file_path_out + 'contact_data.csv')
# contact数据  1 ）删除contact为空的数据
print('********** contact 原始样本量: **********')
contact_data.shape
contact_data = contact_data[contact_data['contact_book'].notnull()]
contact_data = contact_data.drop_duplicates()
print('********** contact 去重之后样本量: **********')
contact_data.shape
contact_data1 = dp.from_json(contact_data, 'contact_book')
print('********** contact 解析之后数量: **********')
contact_data1.info()
contact_data1.to_csv(file_path_out + 'contact_data_analysis.csv', index = False)
#拼接训练样本
# contact_data_analysis = contact_data1.copy()
# df_train1 = pd.read_csv(file_path_out + 'df_train1.csv' )
# print('contact训练集样本总数： ', df_train1.shape[0])
# print(df_train1['flag_result'].value_counts())
# df_contact_train1= pd.merge(df_train1, contact_data_analysis, on='loan_id', how='left' )
# print(df_contact_train1.shape)
# print(df_contact_train1['loan_id'].nunique())
# df_contact_train1.to_csv(file_path_out + 'df_contact_train1.csv',  index=False)

print('processing is end!')

********** contact 原始样本量: **********

(23927, 2)

********** contact 去重之后样本量: **********

(23873, 2)

new columns done
phones
name
run time = 12.234673976898193
********** contact 解析之后数量: **********
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6973826 entries, 0 to 6973825
Data columns (total 3 columns):
loan_id    object
phones     object
name       object
dtypes: object(3)
memory usage: 159.6+ MB
processing is end!

通讯录号码清洗

1）去掉空格;
2）删除 '+55'
3）只取其中的数字

In [18]:
df_contact = pd.read_csv(file_path_out + 'contact_data_analysis.csv')
df_contact.nunique()
close_relative = pd.read_excel(os.path.join(file_path, 'close_relative.xlsx'))
close_list = list(set(close_relative['BaXi']))
df_contact['phones1'] = df_contact['phones'].apply(lambda x: re.sub('\D', '', x.replace('+55', '')) if not isinstance(x,float) else np.nan)
df_contact['len_phones'] = df_contact['phones1'].apply(lambda x: len(x) if not isinstance(x,float) else np.nan)
df_contact['len_is9'] = df_contact['len_phones'].apply(lambda x: 1 if x==9 else 0)
df_contact['len_is10'] = df_contact['len_phones'].apply(lambda x: 1 if x==10 else 0)
df_contact['len_is11'] = df_contact['len_phones'].apply(lambda x: 1 if x==11 else 0)
df_contact['len_is12'] = df_contact['len_phones'].apply(lambda x: 1 if x==12 else 0)
df_contact['len_isless6'] = df_contact['len_phones'].apply(lambda x: 1 if x<=6 else 0)
df_contact['len_isover13'] = df_contact['len_phones'].apply(lambda x: 1 if x>=13 else 0)
df_contact['is_close_relative'] = df_contact['name'].apply(lambda x: 1 if x in close_list else 0)
df_contact.head()
df_contact['loan_id'].nunique()

/Users/yantingting/anaconda3/envs/modeling/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

loan_id      23876
phones     3926634
name       2241051
dtype: int64

,loan_id,phones,name,phones1,len_phones,len_is9,len_is10,len_is11,len_is12,len_isless6,len_isover13,is_close_relative
0,3808870852,['(31) 31313131'],Oi,3131313131,10.0,0,1,0,0,0,0,0
1,3808870852,['(85) 989608822'],Platinum Credito,85989608822,11.0,0,0,1,0,0,0,0
2,3808870852,['+558494448269'],Junior,8494448269,10.0,0,1,0,0,0,0,0
3,3808870852,['+558494463027'],Onã,8494463027,10.0,0,1,0,0,0,0,0
4,3808870852,['011967110938'],Ricardo,011967110938,12.0,0,0,0,1,0,0,0

23876

In [ ]:
1）条数
2）近亲占比和条数
3）号码长度占比和条数

In [26]:
var_contact_data1 = df_contact.groupby(['loan_id'])
var_contact_data = pd.DataFrame()
var_contact_data['cnt_phone'] = var_contact_data1['phones1'].count()
var_contact_data['cnt_unique_phone'] = var_contact_data1['phones1'].nunique()
var_contact_data['cnt_names'] = var_contact_data1['name'].count()
var_contact_data['cnt_unique_names'] = var_contact_data1['name'].nunique()
var_contact_data['cnt_close_relative'] = var_contact_data1['is_close_relative'].sum()
var_contact_data['cnt_len_is9'] = var_contact_data1['len_is9'].sum()
var_contact_data['cnt_len_is10'] = var_contact_data1['len_is10'].sum()
var_contact_data['cnt_len_is11'] = var_contact_data1['len_is11'].sum()
var_contact_data['cnt_len_is12'] = var_contact_data1['len_is12'].sum()
var_contact_data['cnt_len_isless6'] = var_contact_data1['len_isless6'].sum()
print(2)
var_contact_data['cnt_len_isover13'] = var_contact_data1['len_isover13'].sum()
var_contact_data['rate_close_relative'] = var_contact_data['cnt_close_relative']/var_contact_data['cnt_phone']
var_contact_data['rate_len_is9'] = var_contact_data['cnt_len_is9']/var_contact_data['cnt_phone']
var_contact_data['rate_len_is10'] = var_contact_data['cnt_len_is10']/var_contact_data['cnt_phone']
var_contact_data['rate_len_is11'] = var_contact_data['cnt_len_is11']/var_contact_data['cnt_phone']
var_contact_data['rate_len_is12'] = var_contact_data['cnt_len_is12']/var_contact_data['cnt_phone']
var_contact_data['rate_len_isless6'] = var_contact_data['cnt_len_isless6']/var_contact_data['cnt_phone']
var_contact_data['rate_len_isover13'] = var_contact_data['cnt_len_isover13']/var_contact_data['cnt_phone']
var_contact_data = var_contact_data.reset_index().drop_duplicates('loan_id', keep = 'last')
var_contact_data.head()
var_contact_data.shape

var_dict_contact = dp.VarDict(var_contact_data.drop('loan_id', axis = 1), data_sorce='contact')
var_dict_contact.to_csv(os.path.join(file_path_out, 'var_dict_contact.csv'), index = False)
var_contact_data.to_csv(os.path.join(file_path_out, 'var_contact.csv'))
print('end!')

2

,loan_id,cnt_phone,cnt_unique_phone,cnt_names,cnt_unique_names,cnt_close_relative,cnt_len_is9,cnt_len_is10,cnt_len_is11,cnt_len_is12,cnt_len_isless6,cnt_len_isover13,rate_close_relative,rate_len_is9,rate_len_is10,rate_len_is11,rate_len_is12,rate_len_isless6,rate_len_isover13
0,3808097513,496,484,496,470,0,183,218,53,6,11,9,0.0,0.368952,0.439516,0.106855,0.012097,0.022177,0.018145
1,3808101514,206,190,206,206,0,82,4,80,3,16,11,0.0,0.398058,0.019417,0.388350,0.014563,0.077670,0.053398
2,3808109515,280,280,280,279,0,123,30,105,13,5,4,0.0,0.439286,0.107143,0.375000,0.046429,0.017857,0.014286
3,3808109942,72,72,72,72,0,30,28,3,3,4,0,0.0,0.416667,0.388889,0.041667,0.041667,0.055556,0.000000
4,3808117823,92,92,92,91,0,2,4,51,1,0,34,0.0,0.021739,0.043478,0.554348,0.010870,0.000000,0.369565

(23876, 19)

end!

设备基本信息处理并衍生变量

In [27]:
deviceinfo_data = pd.read_csv(file_path_out + 'deviceinfo_data.csv')
keys_list = json.loads(deviceinfo_data['device_info'][0]).keys()
for keys in keys_list:
    deviceinfo_data[keys] = deviceinfo_data['device_info'].apply(lambda x: json.loads(x).get(keys))
deviceinfo_data = deviceinfo_data.drop('device_info', axis = 1)
deviceinfo_data.to_csv(file_path_out + 'device_data_analysis.csv', index= False)
deviceinfo_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23927 entries, 0 to 23926
Data columns (total 11 columns):
loan_id            23927 non-null int64
manufacture        23927 non-null object
google_version     23927 non-null object
version_release    23927 non-null object
heightPixels       23927 non-null object
model              23927 non-null object
sdk_int            23927 non-null object
brand              23927 non-null object
device             23927 non-null object
board              23927 non-null object
widthPixels        23927 non-null object
dtypes: int64(1), object(10)
memory usage: 2.0+ MB

基本信息衍生变量
1)品牌one hot 编码；2）手机品牌排名；3）version_release（del)；4）heightPixels * widthPixels；5）面板排名board；6）面板one hot 编码；
7）heightPixels * widthPixels_model

In [31]:
deviceinfo_data = pd.read_csv(file_path_out + 'device_data_analysis.csv')
df_train1 = pd.read_csv(file_path_out + 'df_train1.csv' )
device_data = pd.merge(df_train1, deviceinfo_data, on = 'loan_id', how='left')
print(device_data.shape)
device_data.head()
manufacture_freq = pd.DataFrame(device_data['manufacture'].value_counts()).reset_index()
manufacture_freq.rename(columns={'index': 'manufacture', 'manufacture': 'freq'}, inplace=True)
manufacture_freq['manufacture_rank'] = manufacture_freq.index
manufacture_rank = dict(zip(manufacture_freq['manufacture'], manufacture_freq['manufacture_rank']))
manufacture_freq.to_csv(file_path_out + 'manufacture_train1_dict.csv', index=False)
manufacture_freq[:10].to_csv(file_path_out + 'manufacture_train1_dict_top10.csv')

board_freq = pd.DataFrame(device_data['board'].value_counts()).reset_index()
board_freq.rename(columns={'index': 'board', 'board': 'freq'}, inplace=True)
board_freq['board_rank'] = board_freq.index
board_rank = dict(zip(board_freq['board'], board_freq['board_rank']))
board_freq.to_csv(file_path_out + 'board_train1_dict.csv', index=False)


# 生成变量
var_deviceinfo = deviceinfo_data.copy()
var_deviceinfo['manufacture_rank'] = var_deviceinfo['manufacture'].map(lambda x: manufacture_rank.get(x))
var_deviceinfo['board_rank'] = var_deviceinfo['board'].map(lambda x: board_rank.get(x))
# var_deviceinfo['height_width'] = var_deviceinfo.apply(lambda x: str(x['heightPixels']) + "*" + str(x['widthPixels']), axis = 1)          
# var_deviceinfo['height_width_model'] = var_deviceinfo.apply(lambda x: str(x['heightPixels']) + "*" + str(x['widthPixels']) +'_' +  x['model'], axis = 1)

manufacture_train1_dict_top10 = manufacture_freq[:10]['manufacture'].values.tolist()
for i in manufacture_train1_dict_top10:
    var_deviceinfo[i] = var_deviceinfo['manufacture'].apply(lambda x: 1 if x == i else 0)
remain_list = ['loan_id', 'manufacture_rank', 'board_rank'] + manufacture_train1_dict_top10
var_deviceinfo = var_deviceinfo[remain_list]
var_deviceinfo.to_csv(file_path_out +'var_deviceinfo.csv', index = False)
var_deviceinfo.shape
var_deviceinfo.head() 
var_dict_deviceinfo = dp.VarDict(var_deviceinfo.drop('loan_id', axis = 1), data_sorce='deviceinfo')
var_dict_deviceinfo.to_csv(os.path.join(file_path_out, 'var_dict_deviceinfo.csv'), index = False)

(14969, 12)

,loan_id,flag_result,manufacture,google_version,version_release,heightPixels,model,sdk_int,brand,device,board,widthPixels
0,3808921137,0,LGE,NRD90U,7.0,1193,LG-M250,24,lge,ANDROID,mt6755,720
1,3808698946,0,motorola,PPPS29.55-25-2,9,1344,moto g(6) play,28,motorola,ANDROID,msm8937,720
2,3808698597,0,motorola,PPKS29.68-16-21-7,9,1362,motorola one,28,motorola,ANDROID,msm8953,720
3,3808875418,0,motorola,NRD90M.06 046,7.0,1280,Moto C Plus,24,motorola,ANDROID,MT6737,720
4,3808748356,0,samsung,NMF26X.J250MUBS5ASH1,7.1.1,960,SM-J250M,25,samsung,ANDROID,msm8937,540

(23927, 13)

,loan_id,manufacture_rank,board_rank,samsung,motorola,LGE,Xiaomi,asus,TCL,LENOVO,LG Electronics,Positivo,Multilaser
0,3808870852,2.0,6.0,0,0,1,0,0,0,0,0,0,0
1,3808871384,0.0,2.0,1,0,0,0,0,0,0,0,0,0
2,3808917409,0.0,2.0,1,0,0,0,0,0,0,0,0,0
3,3808927120,3.0,8.0,0,0,0,1,0,0,0,0,0,0
4,3808927373,3.0,19.0,0,0,0,1,0,0,0,0,0,0

其他sdk数据衍生变量

In [33]:
othersdk_data = pd.read_csv(file_path_out + 'othersdk_data.csv',  low_memory=False)
othersdk_data.to_csv(file_path_out + 'othersdk_data_analysis.csv', index= False)
othersdk_data.shape

(23927, 23)

othersdk 衍生变量

In [34]:
othersdk_data = pd.read_csv(file_path_out + 'othersdk_data_analysis.csv')
othersdk_data.shape
othersdk_data.head()
var_othersdk = othersdk_data[['loan_id', 'app_size','phone_charging_status', 'electric_quantity']].copy()
size_list = ['available_memory_size', 'total_memory_size', 'available_capacity_size', 'disk_size']
for i in size_list: 
    othersdk_data[i] =  othersdk_data[i].apply(lambda x: x.replace(',', '.').replace(' ', ''))
var_othersdk['gps'] = othersdk_data['gps'].apply(lambda x: 0 if (x =='[0.0, 0.0]') | (x =='\"[0.0,0.0]\"') else 1)
var_othersdk['available_memory_size'] = othersdk_data['available_memory_size'].apply(lambda x: float(x.replace('MB', '')) if x[-2:] == 'MB' else float(x.replace('GB', ''))*1024 if x[-2:] == 'GB' else 0)
var_othersdk['total_memory_size'] = othersdk_data['total_memory_size'].apply(lambda x: float(x.replace('MB', '')) if x[-2:] == 'MB' else float(x.replace('GB', ''))*1024 if x[-2:] == 'GB' else 0)
var_othersdk['available_capacity_size'] = othersdk_data['available_capacity_size'].apply(lambda x: float(x.replace('MB', '')) if x[-2:] == 'MB' else float(x.replace('GB', ''))*1024 if x[-2:] == 'GB' else 0)
var_othersdk['disk_size'] = othersdk_data['disk_size'].apply(lambda x: float(x.replace('MB', '')) if x[-2:] == 'MB' else float(x.replace('GB', ''))*1024 if x[-2:] == 'GB' else 0)
var_othersdk['vpn'] = othersdk_data['vpn'].apply(lambda x : 1 if x == 'True' else 0)
var_othersdk['net_type']  = othersdk_data['net_type']
var_othersdk.to_csv(file_path_out + 'var_othersdk.csv', index=False)
var_othersdk.shape
var_othersdk.head() 
var_dict_othersdk = dp.VarDict(var_othersdk.drop('loan_id', axis = 1), data_sorce='othersdk')
var_dict_othersdk.to_csv(os.path.join(file_path_out, 'var_dict_othersdk.csv'), index = False)

(23927, 23)

,loan_id,DATE,flag_result,Unnamed: 0,system_root_status,gps,simulator,imei,current_version,uuid,app_size,phone_charging_status,electric_quantity,system_time,available_memory_size,total_memory_size,available_capacity_size,disk_size,vpn,net_type,proxy,package_name,create_time
0,3808870852,20191014,1,8018,False,"[-6.484543333333333,-35.42619]",False,354211097739531,2.4.11,00000000-7fa0-50b0-0000-00000036f3bb,234,0.0,2.0,2019-10-14 22:44:46:046,464 MB,"1,82 GB","2,35 GB","23,37 GB",False,1.0,False,br.com.inueva.contablet.portocred,2019-10-15 01:44:55.0
1,3808871384,20191015,1,8083,False,"[-21.3336094,-47.7503236]",False,351971087688922,2.4.11,00000000-5d36-476d-0000-00000036f3bb,294,0.0,2.0,2019-10-15 01:35:58:058,367 MB,"1,91 GB","1,83 GB","11,82 GB",True,1.0,False,br.com.inueva.contablet.portocred,2019-10-15 04:36:05.0
2,3808917409,20191017,1,9751,False,"[-23.6293619,-46.5128979]",False,358473098208801,2.4.11,ffffffff-fed2-5cbc-0000-00000036f3bb,343,0.0,8.0,2019-10-17 21:41:49:049,314 MB,"1,89 GB","8,30 GB","25,42 GB",False,4.0,False,br.com.inueva.contablet.portocred,2019-10-18 00:41:56.0
3,3808927120,20191018,1,9999,False,"[-19.95555573728007,-43.91133461147546]",False,864984040552473,2.4.11,00000000-5de2-1e0f-0000-00000036f3bb,207,0.0,18.0,2019-10-18 15:57:11:011,790 MB,"3,91 GB","28,66 GB","49,40 GB",False,4.0,False,br.com.inueva.contablet.portocred,2019-10-18 18:57:21.0
4,3808927373,20191018,1,10006,False,"[-22.509709565401966,-44.092567546142895]",False,869600047377939,2.4.11,00000000-08b9-7ffc-0000-00000036f3bb,303,2.0,20.0,2019-10-18 16:11:03:003,"1,02 GB","5,91 GB","74,56 GB",119 GB,False,4.0,False,br.com.inueva.contablet.portocred,2019-10-18 19:11:09.0

(23927, 11)

,loan_id,app_size,phone_charging_status,electric_quantity,gps,available_memory_size,total_memory_size,available_capacity_size,disk_size,vpn,net_type
0,3808870852,234,0.0,2.0,1,464.00,1863.68,2406.40,23930.88,0,1.0
1,3808871384,294,0.0,2.0,1,367.00,1955.84,1873.92,12103.68,0,1.0
2,3808917409,343,0.0,8.0,1,314.00,1935.36,8499.20,26030.08,0,4.0
3,3808927120,207,0.0,18.0,1,790.00,4003.84,29347.84,50585.60,0,4.0
4,3808927373,303,2.0,20.0,1,1044.48,6051.84,76349.44,121856.00,0,4.0